<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-12">
      <div class="module">
        <%= render 'dashboard/user' %>       
      </div>
    </div>
  </div>
  <%= render "nearby/location_options" %>
  <div class="row">
    <div class="col-md-12">
      <div class="module">
        <h4>
          Latest Updates 
          <%= link_to latest_updates_path do %>
            <small class="pull-right glyphicon glyphicon-new-window"></small>
          <% end %>
        </h4>      
        <div class="feed-latest-updates scrollbar"> 
          <% @activities.each do |activity| %>
            <%= render 'public_activity/activity', activity: activity %>
          <% end %>                           
        </div>        
      </div>
    </div>
  </div> 
<% else %>
  <div class="row">
    <div class="col-md-12">
      <%= render 'home/signup_call' %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="module trending-topics clearfix">
      <h4>Trending Topics</h4>
      <% @hashtags.each do |hashtag| %>
        <%= render 'hashtags/trending', hashtag: hashtag %>  
      <% end %>                                    
    </div>
  </div>
</div>   
<% unless @footer_page %>
  <%= render 'layouts/sidebar_footer' %>
<% end %>