<div class="user-box clearfix">
  <div class="user-box-picture pull-left">
    <%= link_to current_user do %>
      <img src="<%= current_user.profile.image? ? current_user.profile.image_url(:thumb_small) : asset_path("small_male_user.png") %>" width="59" height="52">
    <% end %>
  </div>
  <div class="user-box-name">
    <%= current_user.full_name %>
  </div>
  <div class="user-box-summoner">
    <%= current_user.username %>
  </div>
  <div class="user-box-location">
  <%= link_to new_user_location_path(current_user), remote: true, data: {toggle: 'modal', target: "locationModal"} do %>
      <%= current_user.profile.location.present? ? current_user.profile.location.formatted_address : "Set Your Location" %>
  <% end %>
  </div>
  <div class="user-box-stats">
    <%= link_to change_team_path, remote: true, data: {toggle: 'modal', target: "teamModal"} do %>
      <img src="<%= current_user.profile.team.present? ? current_user.profile.team.image_url(:thumb_small) : asset_path("no_team.png") %>" class="pull-left" width="56" height="52">
    <% end %>
    <d1 class="pull-left">
      <dt>Posts</dt>
      <dd><%= link_to current_user.status_messages.count, user_path(current_user) %></dd>
    </d1>
    <d1 class="pull-left">
      <dt>Friends</dt>
      <dd><%= link_to current_user.friends.count, user_friends_path(current_user) %></dd>
    </d1>
    <d1 class="pull-left">
      <dt>Sightings</dt>
      <dd><%= link_to current_user.sightings.count, user_path(current_user) %></dd>
    </d1>
  </div>
  <div class="user-box-profile-link pull-right clearfix">
    <%= link_to "View Profile", user_path(current_user) %>
  </div>              
</div> 
<%= render 'shared/modal', id: "location", partial: "locations/modal" %>
<%= render 'shared/modal', id: "team", partial: "change_team/modal" %>