<%= form_tag messages_path, method: :post, remote: true do %>
  <div class="modal-body">
    <%= text_field_tag :subject, nil, class: "message-form-subject form-control", placeholder: "Subject" %>
    <%= text_area_tag :body, nil, class: 'form-control atwho resize', rows: '1', placeholder: 'What do you want to say?' %>
    <%= hidden_field_tag :user, params[:user] %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
    <%= submit_tag "Send", class: 'btn btn-primary btn-sm' %>
  </div>    
<% end %>