var modal = $("#messageModal");
var content = $("#messageModal .modal-content");
var body = $("#messageModal .modal-body-content");

body.html("<%= j render 'messages/form' %>");
modal.modal();

modal.on('hidden.bs.modal', function(e) {
  content.html("<%= j render 'messages/modal' %>");
});
