<a href="#">
<label for="profile_image">Upload Photo</label>
<%= form_for [user, user.profile], url: user_update_avatar_path(@user), html: { multipart: true }, method: :put, remote: true do |f| %>
  <%= f.file_field :image, accept: 'image/png,image/tiff,image/jpeg, image/jpg' %>
<% end %>
</a>