<%= form_for [@user, @profile], remote: true do |f| %>
  <div class="form-group">
    <%= f.text_area :about, class: "form-control atwho resize", rows: 5, placeholder: "Write something about yourself..." %>
  </div>
  <div class="form-group">
    <%= image_tag 'icons/icons_birthday.png', class: "about-birthday-form-img" %>
    <%= f.date_select :birthday, {start_year: Time.now.year, end_year: 1900, order: [:month, :day, :year], prompt: {month: "Month", day: "Day", year: "Year"}}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= image_tag "icons/icons_location.png", class: "about-location-form-img" %>
    <%= f.select :gender, Gender.all.map {|g| g.name}, {include_blank: "Gender"}, {class: "form-control"} %>
  </div>  
  <%= link_to "Cancel", user_about_path(@user), class: "btn btn-default btn-lg" %>
  <%= f.submit "Save", class: "btn btn-primary btn-lg" %>
<% end %>