<%= form_for [@user, @profile], url: user_update_header_path(@user), method: :put, remote: true do |f| %>
  <div class="form-group">
    <%= f.text_area :snippet, class: "form-control", placeholder: "Say something short..." %>
  </div>
  <div class="form-group">
    <%= link_to "Cancel", user_path(@user), class: "btn btn-default btn-sm" %>
    <%= f.submit "Save", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>