<div class="about-bio-text">
  <%= simple_format auto_link(auto_link_usernames(linkify_hashtags(@profile.about))) %>
</div>
<div class="about-bio-footer clearfix">
  <ul class="list-inline pull-left">
  <% if @profile.location %>
  <li class="about-location">
    <%= image_tag 'icons/icons_location.png' %> <%= @profile.location.formatted_address %>
  </li>
  <% end %>
  <% if @profile.birthday? %>
  <li class="about-birthday">
    <%= image_tag 'icons/icons_birthday.png' %> <%= @profile.birthday.strftime("%B %e, %Y ") %>
  </li>
  <% end %>
  <% if @profile.gender? %>
  <li class="about-gender">
    <%= image_tag 'icons/icons_gender.png' %> <%= @profile.gender %>
  </li>
  <% end %>
  </ul>
</div>