$('.posts').append('<% @favorites.each do |favorite| %><%= j render "posts/#{favorite.favoritable.type.underscore}", post: favorite.favoritable %><% end %>');
$('.post-body').readmore({
  lessLink: '<a href="#">See Less </a>',
  moreLink: '<a href="#">See More</a>',
  embedCSS: false,
  afterToggle: function(trigger, element, expanded) {
    if(!expanded) {
      $('html, body').animate( { scrollTop: element.offset().top }, {duration: 100 } );
    }
  }    
});
<% if @favorites.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @favorites, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" %>');
<% else %>
  $('.pagination').remove();
<% end %>