var profile_img = $('.profile-img-container');
var avatar_form = $('.avatar-form');
var remove_link = $('.remove-profile-img');

profile_img.html('<div class="avatar-ajax-container" style="display:none;">' +
                   '<div class="ajax-loader medium"></div>' +
                 '</div>' +
                 '<img src="<%= image_url("male_user.png") %>" width="232" height="205">');

avatar_form.html("<%= j render 'profiles/avatar_form', user: @user %>");
remove_link.html('<%= link_to "Remove", user_remove_avatar_path(@profile.user), method: :delete, remote: true, data: {confirm: "Are you sure you want to delete this?"} if @profile.image? %>');
