<div class="container margin-bottom-80">
  <%= render 'users/header' %>
  <div class="col-md-3 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module about-menu">
          <ul class="list-unstyled">
            <%= link_to user_about_path(@user) do %>
              <li>
                <%= image_tag 'icons/icons_bio.png' %> Bio
              </li>
            <% end %>
            <%= link_to user_favorites_path(@user) do %>
              <li>
                <%= image_tag 'icons/icons_favorite.png' %> Favorites
              </li>
            <% end %>
            <a href="#">
              <li>
                <%= image_tag 'icons/icons_team.png' %> Team
              </li>
            </a>
            <a href="#">
              <li>
                <%= image_tag 'icons/icons_achievements.png' %> Achievements
              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <% unless @footer_page %>
      <%= render 'layouts/sidebar_footer' %>
    <% end %>     
  </div>
  <div class="col-md-9 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <div class="about-bio">
            <h4>
              <%= image_tag 'icons/icons_person.png' %> About <%= @user.username %>
              <% if @user == current_user %>
                <%= link_to profile_edit_path, remote: true do %>
                  <%= image_tag 'icons/icons_pencil.png', class: 'about-pencil' %>
                <% end %>
              <% end %>
            </h4>
            <div class="about-profile">          
              <%= render "profiles/profile" %>
            </div>
          </div>
          <div class="about-bio-hr"></div>
        </div>
      </div>
    </div>  
  </div>
</div>