<%= link_to notification.notifiable.mentioner_type == "Post" ? notification.notifiable.mentioner.becomes(Post) : notification.notifiable.mentioner.commentable.becomes(Post), data: {notification_id: notification.id} do %>
  <li class="<%= notification.read? ? "read" : "unread" %>">
    <div class="friend-pic"><img src="<%= notification.notifier.profile.image? ? notification.notifier.profile.image_url(:thumb_small) : asset_path("small_male_user.png") %>" width="50" height="50"></div>
    <span class="friend-name"><%= notification.notifier.full_name %> <span class="friend-username">@<%= notification.notifier.username %></span></span></span>
    <span class="friend-message">Mentioned you in a <%= notification.notifiable.mentioner_type.downcase %></span>
  </li>
<% end %>