mentioned you in a <%= link_to notification.notifiable.mentioner_type.downcase, notification.notifiable.mentioner_type == "Post" ? notification.notifiable.mentioner.becomes(Post) : notification.notifiable.mentioner.commentable.becomes(Post) %>.