<%= form_for @sighting, remote: true do |f| %>
  <div class="modal-body">
    <div class="marker-errors"></div>
    <div class="form-group">
      <%= f.label :pokemon %>
      <%= f.select :pokemon_id, Pokemon.non_legendary.map {|p| [p.name, p.id]}, {include_blank: true}, {class: "form-control chosen-select"} %>
    </div>
    <div class="form-group clearfix">
      <div class="col-sm-3 start-date-select">
        <%= f.label :seen_date, "Seen At" %>
        <div class="input-group">
          <%= f.text_field :seen_date, class: "form-control", readonly: true %>
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i>
          </span>
        </div>
      </div>
      <div class="col-sm-3 start-time-select">
        <%= f.label :seen_time, "Time" %>
        <div class="input-group">
          <%= f.text_field :seen_time, class: "form-control" %>
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-time"></i>
          </span>
        </div>
      </div>
      <span data-toggle="tooltip" data-placement="right" title="Please put the time you first encountered this sighting. Since we do not know exactly when a Pokemon first spawns, we guess how long it will stay in the area based on when you saw it." class="glyphicon glyphicon-exclamation-sign help-block pull-left seen-at-hint"></span>
    </div>
    <div id="add_sighting_map"></div>
  </div>
  <div class="modal-footer">
    <%= hidden_field_tag 'place_id' %>
    <%= f.fields_for :marker do |m| %>
      <%= m.hidden_field :latitude %>
      <%= m.hidden_field :longitude %>
    <% end %>
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
    <%= f.submit "Submit", class: 'btn btn-primary btn-sm' %>
  </div>  
<% end %>