var modal = $("#mapModal");
var content = $("#mapModal .modal-content");
var body = $("#mapModal .modal-body-content");
var lat = map.getCenter().lat;
var lng = map.getCenter().lng;
var dateOptions = {
  autoclose: true,
  todayHighlight: true,
  ignoreReadonly: true
}

var timeOptions = {
  template: false
}

body.html("<%= j render 'sightings/form' %>");
$("[data-toggle=tooltip]").tooltip();
var map_container = $("#add_sighting_map");
var form_map = L.map(map_container.get(0), {
  center: {
    lat: lat,
    lng: lng
  },
  zoomControl: true,
  zoom: 17,
  fullscreenControl: true
});

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      id: 'mapbox.streets',
      accessToken: 'pk.eyJ1IjoiZGV0b25hdHIiLCJhIjoiY2lyMzV3OXJqMDAydmZubnJtNzRybXo0aCJ9.XA5uyXNwBkCB2B68eRFeow'
}).addTo(form_map);

var marker = L.marker({lat: lat, lng: lng}).addTo(form_map);
form_map.on('fullscreenchange', function () {
  if (!form_map.isFullscreen()) {
    form_map.invalidateSize();
  }
});  
form_map.on('click', function(e) {
  marker.setLatLng(e.latlng);
  geocode(e.latlng.lat, e.latlng.lng);
  $("#sighting_marker_attributes_latitude").val(e.latlng.lat);
  $("#sighting_marker_attributes_longitude").val(e.latlng.lng); 
  form_map.panTo({lat: e.latlng.lat, lng: e.latlng.lng});     
});

$("#sighting_pokemon_id").chosen(
  {
    width:"100%",
    placeholder_text_single: "Select a Pokemon"
  }
);
$("#sighting_seen_date").datepicker(dateOptions);
$("#sighting_seen_time").timepicker(timeOptions);

if ($("#sighting_seen_date").val().length == 0) {
  $("#sighting_seen_date").datepicker("setDate", new Date());
}  

modal.on('hidden.bs.modal', function(e) {
  content.html("<%= j render 'map/modal' %>");
});
