<% @home_page = true %>
<% @footer_page = true %>

<div class="about">
  <div class="container">
    <div class="about-header">
      Register
    </div>
  </div>
  <div class="about-body">
    <div class="container">
      <div class="login-form">
        <% resource.profile || resource.build_profile  %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'margin-top-20 form form-horizontal'}) do |f| %>
        <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.fields_for :profile do |profile| %>
              <div class="col-sm-6">
                <%= profile.text_field :first_name, class: 'form-control input-lg', placeholder: 'First Name' %>
              </div>
              <div class="col-sm-6">
                <%= profile.text_field :last_name, class: 'form-control input-lg', placeholder: 'Last Name' %>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.email_field :email, class: 'margin-top-20 form-control input-lg', placeholder: 'Email' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.text_field :username, class: 'margin-top-20 form-control input-lg', placeholder: 'Username' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.password_field :password, autocomplete: 'off', class: 'margin-top-20 form-control input-lg', placeholder: 'Password' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'margin-top-20 form-control input-lg', placeholder: 'Confirm Password' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <center><%= f.submit "Sign Up", class: 'btn btn-primary btn-lg margin-top-20' %></center>
            </div>
          </div>
        <% end %>
        <div class="margin-bottom-20"><center><%= render "devise/shared/links" %></center></div>
      </div>
    </div>
  </div>
</div>