<%= link_to post_favorites_path(object), method: :post, class: "#{js_signup_dialog} post-favorite", remote: true do %>
  <span class="post-fav nonfavorite pull-right" title="Favorite"></span>
<% end %>