<%= form_for [object.class < Post ? object.becomes(Post) : object, Comment.new], remote: true do |f| %>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <%= link_to current_user do %>
          <img src="<%= current_user.profile.image? ? current_user.profile.image_url(:thumb_small) : asset_path("small_male_user.png") %>" width="32">
        <% end %>
      </span>
      <%= f.text_area :body, class: 'form-control atwho enter-submit resize', rows: '1', placeholder: "Write a comment..." %>
    </div>
  </div>
<% end %>