var base_class = "<%= @commentable.class.base_class.to_s.underscore %>";
var comment = $('div[data-comment-id="<%= params[:id] %>"]');
var post_stats = $('div[data-' + base_class + '-id="<%= @commentable.id %>"] .comments-count');
comment.fadeOut("normal", function() {
  $(this).remove();
});
post_stats.html('<%= j render "comments/comments_count", object: @commentable %>');