<%= form_for [:post, @share], remote: true do |f| %>
  <div class="modal-body">
    <%= f.text_area :body, class: 'form-control atwho enter-submit resize', rows: '1', placeholder: 'Talk about this post...' %>
    <div class="share-post-preview">
      <div class="preview-media">
      </div>
      <blockquote>
        <img src="<%= @shareable.user.profile.image? ? @shareable.user.profile.image_url(:thumb_small) : asset_path("small_male_user.png") %>" class="img-responsive pull-left">
        <div class="post-head pull-left">
          <div class="post-by">
            <span class="post-author">
              <img src="<%= @shareable.user.profile.team.present? ? @shareable.user.profile.team.image_url(:flair) : asset_path("no_team.png") %>" width="25">
              <%= link_to @shareable.user.full_name, @shareable.user %>
            </span> 
            <span class="post-author-username"><%= link_to "@#{@shareable.user.username}", @shareable.user %></span>
          </div>
          <div class="post-date">
            <%= local_time_ago(@shareable.created_at) %>
          </div>
        </div>        
        <div class="clearfix"></div>
        <div class="post-body">
          <%= simple_format auto_link(auto_link_usernames(linkify_hashtags(@shareable.body))) %>             
        </div>    
        <% if @shareable.o_embed_cache %>
          <div class="oembed-preview">
            <%= render 'o_embed_caches/embed', oembed: @shareable.o_embed_cache.data, oembed_url: @shareable.o_embed_cache.url, show_button: false %>
          </div>
        <% end %>            
      </blockquote>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
    <%= f.submit "Share", class: 'btn btn-primary btn-sm' %>
  </div>  
<% end %>