var posts = $(".posts");
var modal = $("#shareModal");
var original_post_link = $("div[data-post-id='<%= @absolute_root.id %>'] .post-share");
var original_post_stats = $("div[data-post-id='<%= @absolute_root.id %>'] .post-stats .shares-count");
var shared_posts_link = $("div[data-shared-id='<%= @absolute_root.id %>'] .post-share");
var shared_posts_stats = $("div[data-shared-id='<%= @absolute_root.id %>'] .post-stats .shares-count");
var content = $("#shareModal .modal-content");

modal.modal('hide');
posts.prepend('<%= j render "posts/#{@share.type.underscore}", post: @share %>');
modal.on('hidden.bs.modal', function(e) {
  content.html("<%= j render 'shares/modal' %>");
});

original_post_link.html("<%=j render 'shares/unshare', object: @absolute_root %>");
original_post_stats.html("<%=j render 'shares/shares_count', object: @absolute_root %>");
shared_posts_link.html("<%=j render 'shares/unshare', object: @absolute_root %>");
shared_posts_stats.html("<%=j render 'shares/shares_count', object: @absolute_root %>");