var original_post_link = $("div[data-post-id='<%= @absolute_root.id %>'] .post-share");
var original_post_stats = $("div[data-post-id='<%= @absolute_root.id %>'] .post-stats .shares-count");
var shared_posts_link = $("div[data-shared-id='<%= @absolute_root.id %>'] .post-share");
var shared_posts_stats = $("div[data-shared-id='<%= @absolute_root.id %>'] .post-stats .shares-count");
var your_post = $("div[data-post-id='<%= @current_user_shared_id %>']");
your_post.closest('.row').fadeOut("normal", function() {
  $(this).remove();
});
original_post_link.html("<%=j render 'shares/share', object: @absolute_root %>");
original_post_stats.html("<%=j render 'shares/shares_count', object: @absolute_root %>");
shared_posts_link.html("<%=j render 'shares/share', object: @absolute_root %>");
shared_posts_stats.html("<%=j render 'shares/shares_count', object: @absolute_root %>");