var modal = $("#shareModal");
var content = $("#shareModal .modal-content");
var body = $("#shareModal .modal-body-content");

body.html("<%= j render 'shares/form' %>");
modal.modal();

modal.on('hidden.bs.modal', function(e) {
  content.html("<%= j render 'shares/modal' %>");
});
