<div class="row">
  <div class="col-md-12">
    <div class="module clearfix">
      <%= link_to user do %>
        <img class="pull-left" src="<%= user.profile.image? ? user.profile.image_url(:thumb_medium) : asset_path("male_user.png") %>" width="118" height="104">
      <% end %>
      <div class="search-result-actions pull-right">
        <% if user_signed_in? %>
          <% unless current_user == user %>
            <div data-followable-id="<%= user.slug %>">
              <%= render 'friend_requests/button', user: user %>       
            </div>      
            <% if current_user.friends.include?(user) %>
              <img src="<%= asset_path 'icons/icons_message.png' %>">
              <%= link_to "Message", new_message_path(user: user.slug), remote: true, data: {toggle: 'modal', target: "messageModal"} %>   
            <% end %>
          <% end %> 
        <% else %>
          <div data-followable-id="<%= user.slug %>">
            <%= render 'friend_requests/button', user: user %>     
          </div>
          <img src="<%= asset_path 'icons/icons_message.png' %>">
          <%= link_to "Message", "#", class: "#{js_signup_dialog}" %>
        <% end %>
        <div class="team-icon">
          <img src="<%= user.profile.team.present? ? user.profile.team.image_url(:thumb_small) : asset_path("no_team.png") %>" width="56" height="52">
        </div>            
      </div>
      <%= render 'shared/modal', id: "message", partial: "messages/modal" %>        
      <div class="search-result-info pull-left">
        <div class="search-result-username">
          <%= link_to user.username, user %>
        </div>
        <div class="search-result-fullname">
          <%= user.full_name %>
        </div>
        <div class="search-result-location">
          <%= user.profile.location.present? ? user.profile.location.formatted_address : "Unknown Location" %>
        </div>
      </div>
    </div>
  </div>
</div> 