<div class="container">
  <div class="col-md-3 col-padding">
    <%= render 'dashboard/sidebar' %> 
  </div>
  <div class="col-md-6 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module search-results-for">
          All results for "<%= params[:q] %>"
        </div>
      </div>
    </div>
    <div class="search-results">
      <% @users.each do |user| %>
        <%= render 'search/user', user: user %>
      <% end %>
    </div> 
  </div>
  <div class="col-md-3 col-padding">
    <%= render 'dashboard/news' %>   
  </div> 
</div>