<%= link_to friends_path(id: user.slug), method: :delete, remote: true, data: {confirm: 'Are you sure you want to remove this friend?'} do %>
  <img src="<%= asset_path 'icons/icons_plus.png' %>">
  Remove Friend
<% end %>