if ($("div[data-followable-id='<%= @friend.slug %>']").length) {
  var friend = $("div[data-followable-id='<%= @friend.slug %>']");
  friend.html("<%=j render 'friend_requests/button/request', user: @friend %>");
}