<div class="container">
  <%= render 'users/header' %>
  <div class="col-md-12 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <div class="user-media-header">
            <%= image_tag 'icons/icons_friends.png', class: "pull-left" %> <h4>Friends</h4>
          </div>       
          <div class="user-media-container clearfix">
            <% @friends.each do |friend| %>
              <div class="user-photo pull-left">
                <%= link_to user_path(friend) do %>
                  <img src="<%= friend.profile.image? ? friend.profile.image_url(:thumb_large) : asset_path("male_user.png") %>" width="186" height="148">
                <% end %>
                <div class="user-friend-name"><%= link_to friend.full_name, user_path(friend) %></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>