var modal = $("#mapModal");
var content = $("#mapModal .modal-content");
var body = $("#mapModal .modal-body-content");
var lat = map.getCenter().lat;
var lng = map.getCenter().lng;

body.html("<%= j render 'pokestops/form' %>");

var map_container = $("#add_sighting_map");
var form_map = L.map(map_container.get(0), {
  center: {
    lat: lat,
    lng: lng
  },
  zoomControl: true,
  zoom: 17,
  fullscreenControl: true
});

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      id: 'mapbox.streets',
      accessToken: 'pk.eyJ1IjoiZGV0b25hdHIiLCJhIjoiY2lyMzV3OXJqMDAydmZubnJtNzRybXo0aCJ9.XA5uyXNwBkCB2B68eRFeow'
}).addTo(form_map);

var marker = L.marker({lat: lat, lng: lng}).addTo(form_map);

form_map.on('fullscreenchange', function () {
  if (!form_map.isFullscreen()) {
    form_map.invalidateSize();
  }
});
form_map.on('click', function(e) {
  marker.setLatLng(e.latlng);
  geocode(e.latlng.lat, e.latlng.lng);
  $("#pokestop_marker_attributes_latitude").val(e.latlng.lat);
  $("#pokestop_marker_attributes_longitude").val(e.latlng.lng);
  form_map.panTo({lat: e.latlng.lat, lng: e.latlng.lng});  
});

modal.on('hidden.bs.modal', function(e) {
  content.html("<%= j render 'map/modal' %>");
});
