var dropdown = $(".messages-menu");
var icon = $(".messages-toggle");
dropdown.html("<%= j render 'conversations/dropdown/content' %>");

<% unless current_user.unread_inbox_count == 0 %>
  <% current_user.mailbox.inbox(read: false).each do |c| %>
    <% c.mark_as_read(current_user) %>
  <% end %>
<% end %>

icon.html("<%= j render 'conversations/icon' %>");