<div class="container margin-bottom-140">
  <div class="col-md-3 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <div class="conversations-list">
            <div class="filter left-inner-addon">
              <i class="glyphicon glyphicon-search"></i>
              <input type="text" class="form-control" placeholder="Filter">
            </div>
            <div class="conversations">
              <ul class="list-group">  
                <% @conversations.each do |conversation| %>      
                  <%= render "conversations/conversation", conversation: conversation %>
                <% end %> 
              </ul>                                
            </div>
          </div>                
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-padding">
    <div class="row">
      <div class="col-md-12">
        <% if @conversations.empty? %>
        <div class="module">
          <center>No messages yet!</center>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>