$('.messages-dropdown-container').append('<% @conversations.each do |conversation| %><%= j render "conversations/dropdown/conversation", conversation: conversation %><% end %>');

<% if @conversations.next_page %>
  $('.messages-menu .pagination').replaceWith('<%= j will_paginate @conversations, param_name: :conversations_page, params: { controller: "conversations", action: "paginate"}, renderer: BootstrapPagination::Rails, class: "messages-pagination" %>');
<% else %>
  $('.messages-menu .pagination').remove();
<% end %>