var messages = $(".messages");
var text_area = $("#body");
var button = $(".conversation-reply input[type=submit]");
messages.append("<%= j render 'messages/message', message: @receipt.message %>");
text_area.val('');
text_area.height('auto');
button.prop('disabled', true);