<% @home_page = true %>
<% @footer_page = true %>

<div class="about">
  <div class="container">
    <div class="about-header">
      Unlock Instructions
    </div>
  </div>
  <div class="about-body">
    <div class="container">
      <div class="login-form">
        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), class: "form form-horizontal", html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <div>
            <%= f.email_field :email, autofocus: true, class: "margin-top-20 form-control input-lg", placeholder: "Email" %>
          </div>
          <center><%= f.submit "Send Unlock Instructions", class: 'btn btn-primary btn-lg margin-top-20' %></center>
        <% end %>

        <div class="margin-top-10 margin-bottom-20">
          <center><%= render "devise/shared/links" %></center>
        </div>
      </div>
    </div>
  </div>
</div>
