<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2> 
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="setting-container">
    <%= image_tag "icons/settings/inbox.png" %> <p class="setting-title">Email</p>
    <p class="setting-value"><%= f.email_field :email %></p>
  </div>
  <%= f.fields_for :profile do |profile| %>
    <div class="setting-container">
      <%= image_tag "icons/settings/name.png" %> <p class="setting-title">First Name</p>
      <p class="setting-value"><%= profile.text_field :first_name %></p>
    </div>
    <div class="setting-container">
      <%= image_tag "icons/settings/name.png" %> <p class="setting-title">Last Name</p>
      <p class="setting-value"><%= profile.text_field :last_name %></p>
    </div>              
  <% end %>              
  <div class="setting-container">
    <%= image_tag "icons/settings/password.png" %> <p class="setting-title">Password</p>
    <p class="setting-value"><%= f.password_field :password, autocomplete: "off", placeholder: "Click to edit" %></p>
  </div>
  <div class="setting-container">
    <%= image_tag "icons/settings/password.png" %> <p class="setting-title">Confirm Password</p>
    <p class="setting-value"><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Click to edit" %></p>
  </div>   
  <div class="setting-container">
    <%= image_tag "icons/settings/password.png" %> <p class="setting-title">Current Password</p>
    <p class="setting-value"><%= f.password_field :current_password, autocomplete: "off", placeholder: "********" %></p>
  </div>       
  <%= f.submit "Save", class: "pull-right btn btn-primary bt-lg" %>
<% end %>