<%= link_to post_path(notification.notifiable.commentable), data: {notification_id: notification.id} do %>
  <li class="<%= notification.read? ? "read" : "unread" %>">
    <div class="friend-pic"><img src="<%= notification.notifier.profile.image? ? notification.notifier.profile.image_url(:thumb_small) : asset_path("small_male_user.png") %>" width="50" height="50"></div>
    <span class="friend-name"><%= notification.notifier.full_name %> <span class="friend-username">@<%= notification.notifier.username %></span></span></span>
    <span class="friend-message">Commented on your <%= notification.notifiable.commentable_type.downcase %>.</span>
  </li>
<% end %>