<div class="latest-update clearfix" data-activity-id="<%= activity.id %>">
  <img src="<%= activity.owner.profile.image? ? activity.owner.profile.image_url(:thumb_small) : asset_path("small_male_user.png") %>" width="25" height="22" class="pull-left">
  <div class="update-body">
    <img src="<%= activity.owner.profile.team.present? ? activity.owner.profile.team.image_url(:flair) : asset_path("no_team.png") %>" width="16">
    <%= link_to activity.owner.full_name, activity.owner %> <%= render_activity activity %>
  </div>
  <div class="update-date pull-right">
    <%= local_time_ago(activity.created_at) %>
  </div>
</div>