<div class="card">
  <div class="card-header clearfix">
    <% if show_button %>
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
    <% end %>
  </div>
  <%= render "o_embed_caches/#{oembed[:type]}", oembed: oembed, oembed_url: oembed_url %>
</div>