<div class="sm-img card-content-container">
  <div class="card-content">
    <div class="card-text">
      <a href="<%= oembed_url %>" class="card-action"><%= oembed_url %></a>
    </div>
  </div>
</div>