<div class="row">
  <div class="col-md-12">
    <div class="module clearfix">
      <div class="event" data-event-id="<%= event.id %>">
        <img src="<%= event.image? ? event.image_url(:thumb) : asset_path("events/banner_placeholder_thumb.png") %>" width="149" height="138" class="pull-left">
        <div class="event-list-name"><%= link_to event.name, event %></div>
        <div class="event-list-date"><%= local_time(event.start, "%A, %B %e at %l:%M %p") %></div>
        <% if event.place.present? %>
          <div class="event-list-place"><a href="#"><%= event.place.name %></a></div>
        <% end %>
        <div class="event-list-host">Host: 
        <img src="<%= event.host.profile.team.present? ? event.host.profile.team.image_url(:flair) : asset_path("no_team.png") %>" width="25"> 
        <%= link_to event.host.username, event.host %></div>
        <div class="event-list-rsvp">
          <% unless event.host == current_user %>
            <div class="rsvp-button">
              <%= render 'rsvps/events/button', event: event, rsvp: current_user.rsvps.where(rsvpable_id: event.id, rsvpable_type: event.class.to_s).first || Rsvp.new %>
            </div>
          <% end %>
          <span class="event-list-guests"><%= pluralize event.goings_count, "guest" %></span>              
        </div>
      </div>
    </div>
  </div>
</div> 