<div class="row">
  <div class="col-md-12">
    <div class="module">
      <%= render 'dashboard/user' %>
    </div>
  </div>
</div>
<%= render "nearby/location_options" %>
<div class="row">
  <div class="col-md-12">
    <div class="module">
      <h4>Popular Events in <span class="yellow"><%= @location.state %></span></h4>
      <% @popular_events.each do |event| %>
        <div class="popular-event clearfix">
          <img src="<%= event.image? ? event.image_url(:thumb) : asset_path("events/banner_placeholder_thumb.png") %>" width="69" height="69" class="pull-left">
          <div class="popular-event-title"><%= link_to truncate(event.name, length: 25), event %></div>
          <div class="popular-event-description"><%= truncate event.description, length: 60 %></div>
          <div class="popular-event-date pull-right"><%= local_time(event.start, "%A, %B %e at %l:%M %p") %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% unless @footer_page %>
  <%= render 'layouts/sidebar_footer' %>
<% end %>