<div class="row">
  <div class="col-md-12">
    <div class="module">
      <h4>Location Options</h4>
      <div class="location-options">
        <ul class="list-unstyled">
          <li>
            <%= image_tag "icons/summoners_nearby.png", class: "summoners-nearby-icon" %> <%= link_to "Trainers Nearby", nearby_trainers_path %>
          </li>
          <li>
            <%= image_tag "icons/posts_nearby.png", class: "posts-nearby-icon" %> <%= link_to "Posts in Your Area", nearby_posts_path %>
          </li>
          <li>
            <%= image_tag "icons/events_nearby.png", class: "events-nearby-icon" %> <%= link_to "All Events", nearby_events_path %>
          </li>
          <li>
            <%= image_tag "icons/create_event.png", class: "create-event-icon" %> <%= link_to "Create An Event", new_event_path, remote: true, data: {toggle: 'modal', target: 'eventModal'} %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <%= render 'shared/modal', id: "event", partial: "events/modal" %> 
</div>