<div class="row">
  <div class="col-md-12">
    <div class="module">
      <h4>Events Happening Soon</h4>
      <% @upcoming_events.each do |event| %>
        <div class="news-box clearfix">
          <img src="<%= event.image? ? event.image_url(:sidebar) : asset_path("events/banner_placeholder_sidebar.png") %>" width="280" height="114" class="img-responsive">
          <div class="news-headline"><%= event.name %></div>
          <div class="news-body"><%= truncate event.description, length: 90 %></div>
          <div class="news-domain pull-left"><%= local_time(event.start, "%A, %b %e at %l:%M %p") %></div>
          <div class="news-link pull-right"><%= link_to "View Event", event %></div>
        </div>   
      <% end %>                              
    </div>
  </div>
</div>