<div class="container">
  <div class="col-md-3 col-padding">
    <%= render 'nearby/left_sidebar' %>
  </div>
  <div class="col-md-6 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module search-results-for">
          All Events in <%= @location.state %>
        </div>
      </div>
    </div>
    <div class="events">
      <% @events.each do |event| %>
        <%= render 'nearby/event', event: event %>
      <% end %>                             
    </div>
    <center><%= will_paginate @events, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" if @events.present? %></center>    
  </div>
  <div class="col-md-3 col-padding">
    <%= render 'nearby/right_sidebar' %>
  </div>
</div>