<div class="container">
  <div class="col-md-3 col-padding">
    <%= render 'nearby/left_sidebar' %>
  </div>
  <div class="col-md-6 col-padding">
    <div class="module search-results-for">
      All Posts in <%= @location.state %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <div class="create-status clearfix">
            <%= render 'posts/form' %>
          </div>        
          <div class="oembed-preview" style="display:none;">
          </div>
        </div>
      </div>
    </div>    
    <div class="posts nearby-posts-feed">
      <% @posts.each do |post| %>
        <%= render "posts/#{post.type.underscore}", post: post %>
      <% end %>
    </div>  
    <%= render 'shared/modal', id: "share", partial: "shares/modal" %>
    <center><%= will_paginate @posts, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" if @posts.present? %></center>
  </div>
  <div class="col-md-3 col-padding">
    <%= render 'nearby/right_sidebar' %>
  </div>
</div>