$('.posts').append('<% @posts.each do |post| %><%= j render "posts/#{post.type.underscore}", post: post %><% end %>');
$('.post-body').readmore({
  lessLink: '<a href="#">See Less </a>',
  moreLink: '<a href="#">See More</a>',
  embedCSS: false,
  afterToggle: function(trigger, element, expanded) {
    if(!expanded) {
      $('html, body').animate( { scrollTop: element.offset().top }, {duration: 100 } );
    }
  }    
});
<% if @posts.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @posts, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" %>');
<% else %>
  $('.pagination').remove();
<% end %>