<div class="container">
  <div class="col-md-3 col-padding">
    <%= render 'nearby/left_sidebar' %>
  </div>
  <div class="col-md-6 col-padding">
    <div class="module search-results-for">
      All Trainers in <%= @location.state %>
    </div>
    <div class="nearby-summoners">
      <% @profiles.each do |profile| %>
        <%= render 'nearby/trainer', user: profile.user %>
      <% end %>
    </div>
    <center><%= will_paginate @profiles, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" if @profiles.present? %></center>    
  </div>
  <div class="col-md-3 col-padding">
    <%= render 'nearby/right_sidebar' %>
  </div>
</div>