<%= image_tag 'icons/icons_alerts.png', width: 28, height: 28 %>
<% if current_user.notifications.unread.present? %>
  <span class="nav-badge notification-counter"><%= current_user.notifications.unread.count %></span>
<% end %> 