var dropdown = $(".notification-menu");
var icon = $(".notification-toggle");
dropdown.html("<%= j render 'notifications/dropdown_content' %>");

<% current_user.notifications.unread.update_all(read: true) if current_user.notifications.unread.present? %>
icon.html("<%= j render 'notifications/icon' %>");