$('.notifications').append('<% @notifications.each do |notification| %><%= j render "notifications/notification", notification: notification %><% end %>');

<% if @notifications.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @notifications, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" %>');
<% else %>
  $('.pagination').remove();
<% end %>