$('.notification-dropdown-container').append('<% @notifications.each do |notification| %><%= j render "notifications/#{notification.notifiable_type.underscore}/dropdown", notification: notification %><% end %>');

<% if @notifications.next_page %>
  $('.notification-menu .pagination').replaceWith('<%= j will_paginate @notifications, param_name: :notifications_page, params: { controller: "notifications", action: "paginate"}, renderer: BootstrapPagination::Rails, class: "notifications-pagination" %>');
<% else %>
  $('.notification-menu .pagination').remove();
<% end %>