var base_class = "<%= @likeable.class.base_class.to_s.underscore %>";
var likeable = $("div[data-" + base_class + "-id='<%= @likeable.id %>'] .like-button");
var post_stats = $("div[data-" + base_class + "-id='<%= @likeable.id %>'] .likes-count");
likeable.html("<%=j render 'likes/unlike', object: @likeable, symbol: :likes %>");
post_stats.html("<%=j render 'likes/likes_count', object: @likeable %>");