  <div class="col-md-7 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module clearfix">
          <div class="profile-img pull-left">
            <div class="profile-img-container">
              <div class="avatar-ajax-container" style="display:none;">
                <div class="ajax-loader medium"></div>
              </div>
              <img src="<%= @user.profile.image? ? @user.profile.image_url(:thumb_large) : image_url('male_user.png') %>" width="232" height="205">
            </div>
            <% if user_signed_in? %>
              <% if current_user == @user %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <div class="profile-img-edit-bg">
                    <div class="profile-img-edit-text">
                      Edit Photo
                    </div>
                    <div class="profile-img-edit-camera pull-right">
                      <%= image_tag 'icons/icons_camera.png' %>
                    </div>
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-point user-menu profile-img-edit-dropdown">
                  <li class="avatar-form">
                    <%= render 'profiles/avatar_form', user: @user %>
                  </li>
                  <li class="remove-profile-img"><%= link_to 'Remove', user_remove_avatar_path(@user), method: :delete, remote: true, class: 'remove_avatar_link', data: {confirm: 'Are you sure you want to delete this?'} if @user.profile.image? %></li>           
                </ul>
              <% end %>
            <% end %>
          </div>
          <div class="profile-box-about">
            <h4><%= @user.username %></h4>
            <%= @user.full_name %>
            <div class="profile-box-about-body">
              <%= simple_format auto_link(auto_link_usernames(linkify_hashtags(truncate(@user.profile.snippet, length: 230, escape: false)))) %>
            </div>
            <div class="profile-follow-button">
              <div class="pull-left" data-followable-id="<%= @user.slug %>">
                <% if user_signed_in? %>
                  <% unless current_user == @user %>
                    <%= render "friend_requests/button", user: @user %>
                  <% else %>
                    <%= link_to "Edit Header", profile_edit_header_path, remote: true %>
                  <% end %>
                <% else %>
                  <%= render "friend_requests/button", user: @user %>
                <% end %>
              </div>
              <% if user_signed_in? %>
              <% unless current_user == @user %>
                <% if current_user.friends.include?(@user) %>
                  <img src="<%= asset_path 'icons/icons_message.png' %>">
                  <%= link_to "Message", new_message_path(user: @user.slug), remote: true, data: {toggle: 'modal', target: "messageModal"} %>   
                <% end %>
              <% end %>  
              <% else %>         
                <img src="<%= asset_path 'icons/icons_message.png' %>">
                <%= link_to "Message", "#", class: "#{js_signup_dialog}" %>
              <% end %>
            </div>
            <%= render 'shared/modal', id: "message", partial: "messages/modal" %>             
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module clearfix">
          <div class="season-rank">
            <div class="pull-left">
              <h4>Pokemon Team</h4>
              <p><%= @user.profile.team.present? ? "Team #{@user.profile.team.name}" : "No Team" %></p>
              <div class="season-rank-picture">
                <img src="<%= @user.profile.team.present? ? @user.profile.team.image_url(:thumb_medium) : asset_path("no_team.png") %>" width="136">
              </div>
            </div>
          </div>
          <div class="season-rank-content pull-right">
            <div class="gradient-line"></div>
            <div class="season-rank-text">
              <h4><span class="rank-header">User Stats</span></h4>
              <div class="user-box-stats clearfix">
                <d1 class="pull-left">
                  <dt>Posts</dt>
                  <dd><%= link_to @user.status_messages.count, user_path(@user) %></dd>
                </d1>
                <d1 class="pull-left">
                  <dt>Friends</dt>
                  <dd><%= link_to @user.friends.count, user_friends_path(@user), class: "#{js_signup_dialog}" %></dd>
                </d1>
                <d1 class="pull-left">
                  <dt>Sightings</dt>
                  <dd><%= link_to @user.sightings.count, user_path(@user) %></dd>
                </d1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3 col-padding">
        <%= link_to "Feed", user_path(@user), {style: "display:block;", class: "module tab"} %>
      </div>
      <div class="col-md-3 col-padding">
        <%= link_to "About", user_about_path(@user), {style: "display:block;", class: "module tab #{js_signup_dialog}"} %>
      </div>
      <div class="col-md-3 col-padding">
        <%= link_to "Media", user_photos_path(@user), {style: "display:block;", class: "module tab #{js_signup_dialog}"} %>    
      </div>
      <div class="col-md-3 col-padding">
        <%= link_to "Friends", user_friends_path(@user), {style: "display:block;", class: "module tab #{js_signup_dialog}"} %>    
      </div>
    </div>
  </div>