 <div class="margin-bottom-80">
  <div class="container">
    <div class="col-md-12 col-padding">
      <div class="row">
        <div class="col-md-3 col-padding">
          <div class="module settings">
            <div class="setting-list">
              <ul>
                <%= link_to settings_path do %>
                  <li class="setting-option">Account Settings</li>
                <% end %>
                <li><span class="gray">General Settings</span></li>
                <li><span class="gray">Notifications</span></li>
                <li><span class="gray">Privacy / Security</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-padding settings-col">
          <div class="module">
            <div class="settings-content">
              <h4>Account Settings</h4>
              <div class="settings clearfix">
                <%= render "users/settings/form" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>