$('.posts').append('<% @posts.each do |post| %><%= j render "posts/#{post.type.underscore}", post: post %><% end %>');

<% if @posts.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @posts, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" %>');
<% else %>
  $('.pagination').remove();
<% end %>