<div class="container">
  <%= render 'users/header' %>
  <div class="col-md-4 col-padding">
    <% unless user_signed_in? %>
      <div class="row">
        <div class="col-md-12">
          <%= render 'home/signup_call' %>
        </div>
      </div>    
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <h4>Sightings</h4>
          <% @sightings.each do |sighting| %>
            <div class="profile-sighting clearfix">
              <img src="<%= sighting.pokemon.image_url %>" width="56" class="pull-left">
              <div class="profile-sighting-title"><%= sighting.pokemon.name %></div>
              <div class="profile-sighting-date"><%= local_time(sighting.seen_at, "%A, %B %e") %> at <%= local_time(sighting.seen_at, "%l:%M %p") %></div>
              <div class="profile-sighting-place"><a href="#"><%= sighting.marker.place.name %></a></div>
              <div class="pull-right"><%= link_to "view on map", root_path(anchor: "17/#{sighting.marker.latitude}/#{sighting.marker.longitude}") %></div>
            </div>            
          <% end %>
        </div>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <h4>Gyms</h4>
          <% @gyms.each do |gym| %>
            <div class="profile-sighting clearfix">
              <img src="<%= asset_path('map/map_gym.png') %>" width="56" class="pull-left">
              <div class="profile-sighting-title"><%= gym.name %></div>
              <div class="profile-sighting-date"><%= local_time(gym.created_at, "%A, %B %e") %> at <%= local_time(gym.created_at, "%l:%M %p") %></div>
              <div class="profile-sighting-place"><a href="#"><%= gym.marker.place.name %></a></div>
              <div class="pull-right"><%= link_to "view on map", root_path(anchor: "17/#{gym.marker.latitude}/#{gym.marker.longitude}") %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <h4>PokeStops</h4>
          <% @pokestops.each do |pokestop| %>
            <div class="profile-sighting clearfix">
              <img src="<%= asset_path('map/map_pokestop.png') %>" width="56" class="pull-left">
              <div class="profile-sighting-title"><%= pokestop.name %></div>
              <div class="profile-sighting-date"><%= local_time(pokestop.created_at, "%A, %B %e") %> at <%= local_time(pokestop.created_at, "%l:%M %p") %></div>
              <div class="profile-sighting-place"><a href="#"><%= pokestop.marker.place.name %></a></div>
              <div class="pull-right"><%= link_to "view on map", root_path(anchor: "17/#{pokestop.marker.latitude}/#{pokestop.marker.longitude}") %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>    
    <% unless @footer_page %>
      <%= render 'layouts/sidebar_footer' %>
    <% end %>    
  </div>
  <div class="col-md-8 col-padding">
    <% if user_signed_in? %>
      <div class="row">
        <div class="col-md-12">
          <div class="module">
            <div class="create-status clearfix">
              <%= render 'posts/form' %>
            </div>
            <div class="oembed-preview" style="display:none;">
            </div>          
          </div>
        </div>
      </div>
    <% end %>
    <div class="posts">
      <% @posts.each do |post| %>
        <%= render "posts/#{post.type.underscore}", post: post %>
      <% end %>      
    </div>
    <%= render 'shared/modal', id: "share", partial: "shares/modal" %>
    <center><%= will_paginate @posts, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" if @posts.present? %></center>
  </div>
</div>