<% @home_page = true %>
<% @footer_page = true %>

<div class="about">
  <div class="container">
    <div class="about-header">
      Change Password
    </div>
  </div>
  <div class="about-body">
    <div class="container">
      <div class="login-form">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), class: "form form-horizontal", html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
          <div>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "margin-top-20 form-control input-lg", placeholder: "Password" %>
          </div>
          <div>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "margin-top-20 form-control input-lg", placeholder: "Confirm Password" %>
          </div>
           <center><%= f.submit "Change Password", class: 'btn btn-primary btn-lg margin-top-20' %></center>
        <% end %>
        <div class="margin-top-10 margin-bottom-20">
          <center><%= render "devise/shared/links" %></center>
        </div>
      </div>
    </div>
  </div>
</div>
