<%= form_for @profile, url: change_team_path, remote: true do |f| %>
  <div class="modal-body">
    <div class="team-errors"></div>
    <div class="form-group">
      <%= label_tag :team, "Team" %>
      <%= f.select :team_id, Team.pluck(:name, :id), {include_blank: "Select Team"}, {class: "form-control"} %>
    </div>
    <div class="clearfix">
      <div class="col-xs-4">
        <%= image_tag 'team_leader_yellow.png', class: 'team-leader' %>
      </div>
      <div class="col-xs-4">
        <%= image_tag 'team_leader_blue.png', class: 'team-leader' %>
      </div>
      <div class="col-xs-4">
        <%= image_tag 'team_leader_red.png', class: 'team-leader' %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
    <%= f.submit "Submit", class: 'btn btn-primary btn-sm' %>
  </div>  
<% end %>