var alert_container = $(".team-errors");

<% if @profile.errors.any? %>
  alert_container.html("<div class='alert alert-danger'><% @profile.errors.full_messages.each do |msg| %><p><%= msg %></p><% end %></div>");
<% end %>