var modal = $("#teamModal");
var content = $("#teamModal .modal-content");
var body = $("#teamModal .modal-body-content");

body.html("<%= j render 'change_team/form' %>");
modal.modal();

modal.on('hidden.bs.modal', function(e) {
  content.html("<%= j render 'change_team/modal' %>");
});
