<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <center><h4 class="modal-title" id="loginLabel">Log in to Catch 'Em Go</h4></center>
</div>
<div class="modal-body-content">
  <div class="modal-body">
    <center><%= image_tag "nav_logo.png" %></center>
    <%= form_for(:user, url: session_path(:user), html: {class: 'nav-login-form'}) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      </div>
      <div class="form-group">
        <%=  f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <small> . </small>
        <%= link_to "Forgot Password?", new_user_password_path %> 
      </div>        
      <div class="form-group">
        <%= f.submit "Login", class: 'btn btn-primary form-control' %>
      </div>   
    <% end %>
  </div>
  <div class="modal-footer">
    <center><small>Don't have an account? <%= link_to "Sign up", new_user_registration_path %></small></center>
  </div>
</div>