<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <center><h4 class="modal-title" id="signupLabel">Sign up for Catch 'Em Go</h4></center>
</div>
<div class="modal-body-content">
  <div class="modal-body">
    <center><%= image_tag "nav_logo.png" %></center>
    <center>
      <h4>Not on Catch 'Em Go? Sign up to connect with other Pokemon GO trainers, or find meetups and events near you.</h4>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary signup-modal-btn" %>
    </center>
  </div>
  <div class="modal-footer">
    <center><small>Have an account? <%= link_to "Log in", new_user_session_path %></small></center>
  </div>
</div>