<div class="module sign-up-call">
  <h3>New To Catch 'Em Go?</h3>
  <div>Sign up to connect with other Pokemon GO trainers, or find meetups and events near you!</div>
  <div><%= link_to "Sign Up", new_user_registration_path, class: "btn sign-up-call-btn" %></div>
</div>