<div class="container">
  <div class="margin-top-20 margin-bottom-20"><center><%= image_tag "index/index_logo.png", class: "index-header" %></center></div>
  <div class="row">
    <div class="col-md-12">
      <% @hashtags.each do |hashtag| %>
        <div class="col-md-3 col-padding">
          <%= link_to "##{hashtag.display}", hashtag_path(hashtag.display), {style: "display:block;", class: "module tab"} %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <%= render 'map/header' %>
          <div id='map'></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Events:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% @events.each do |event| %>
        <div class="col-md-3 col-padding">
          <div class="news-box clearfix">
            <%= link_to event do %>
              <img src="<%= event.image? ? event.image_url(:sidebar) : asset_path("events/banner_placeholder.png") %>" class="img-responsive" width="280" height="114">
            <% end %>
            <div class="news-headline"><%= link_to truncate(event.name, length: 32), event %></div>
            <div class="news-body">
              <div>
                <b>Hosted By:</b> 
                <img src="<%= event.host.profile.team.present? ? event.host.profile.team.image_url(:flair) : asset_path("no_team.png") %>" width="25">
                <%= link_to event.host.full_name, event.host %> <span class="event-hosted-username"><%= link_to "@#{event.host.username}", event.host %></span>
              </div>
              <div><b>Date:</b> <%= event_dates(event) %></div>
              <div class="margin-bottom-10"><b>Time:</b> <%= event_times(event) %></div>
              <div><%= event.place.name %></div>
              <div><%= event.place.formatted_address %></div>
            </div> 
          </div>
        </div>
      <% end %>
      <div class="col-md-3 col-padding">
        <div class="news-box">
          <%= render 'home/signup_call' %>
        </div>
      </div>
    </div>               
  </div>  
  <div class="row">
    <div class="col-md-12">
      <h4>News:</h4>
    </div>
  </div>
  <div class="row margin-bottom-60">
    <div class="col-md-12">
      <% @news.each do |news| %>
        <div class="col-md-3 col-padding">
          <div class="news-box clearfix">
            <%= link_to news.full_url, target: "_blank" do %>
              <img src="<%= news.image_url(:thumb_medium) %>" class="img-responsive" width="280" height="114">
            <% end %>
            <div class="news-headline"><%= link_to truncate(news.title, length: 32), news.full_url, target: "_blank" %></div>
            <div class="news-body"><%= news.description %></div>
          </div>  
        </div>
      <% end %>
    </div>               
  </div>
</div>
