var alert_container = $(".event-errors");

<% if @event.errors.any? %>
  alert_container.html("<div class='alert alert-danger'><% @event.errors.full_messages.each do |msg| %><p><%= msg %></p><% end %></div>");
<% end %>