var modal = $("#eventModal");
var content = $("#eventModal .modal-content");
var body = $("#eventModal .modal-body-content");

body.html("<%= j render 'events/form' %>");
modal.modal();

modal.on('hidden.bs.modal', function(e) {
  content.html("<%= j render 'events/modal' %>");
});
