var event_img = $('.event-banner-img');
var banner_form = $('.banner-form');
var remove_link = $('.remove-event-banner');
event_img.attr('src', '<%= asset_path("events/banner_placeholder.png") %>');
banner_form.html('<%= j render "events/show/banner_form" %>');
remove_link.html('<%= link_to "Remove", event_remove_image_path(@event), method: :delete, remote: true, data: {confirm: "Are you sure you want to delete this?"} if @event.image? %>');