<div class="container">
  <div class="col-md-12 col-padding">
    <div class="event-banner">
      <img src="<%= @event.image? ? @event.image_url(:full) : asset_path("events/banner_placeholder.png") %>" class="img-responsive event-banner-img" width="100%" height="255" %>
      <div class="banner-ajax-container">
        <div class="ajax-loader medium"></div>
      </div>    
      <div class="event-banner-edit">
        <% if user_signed_in? %>
          <% if @event.host == current_user %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag "icons/icons_camera.png" %></a>
            <ul class="dropdown-menu user-menu event-banner-menu">
              <li class="banner-form"><%= render 'events/show/banner_form' %></li>
              <li class="remove-event-banner"><%= link_to 'Remove', event_remove_image_path(@event), method: :delete, remote: true, data: {confirm: 'Are you you want to delete this?'} if @event.image? %></li>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="module col-padding event-header clearfix">
      <div class="col-md-9">
        <h4 class="event-header-title"><%= @event.name %></h4>
        <div class="event-hosted-by">
          Hosted by 
          <img src="<%= @event.host.profile.team.present? ? @event.host.profile.team.image_url(:flair) : asset_path("no_team.png") %>" width="25">
          <%= link_to @event.host.full_name, @event.host %> <span class="event-hosted-username"><%= link_to "@#{@event.host.username}", @event.host %></span>
          <% if user_signed_in? %>
            <% if @event.host == current_user %>
              (<%= link_to "edit", edit_event_path(@event), remote: true, data: {toggle: 'modal', target: "#eventModal"}  %>)
              <%= render 'shared/modal', id: "event", partial: "events/show/form_modal" %>
            <% end %>
          <% end %>
        </div>
        <div class="event-description">
          <%= simple_format auto_link(auto_link_usernames(linkify_hashtags(@event.description))) %>  
        </div>
      </div>
      <div class="col-md-3">
        <div class="event-buttons">
          <% if user_signed_in? %>
            <% unless @event.host == current_user %>
              <%= render 'rsvps/events/buttons' %>
            <% end %>
          <% else %>
            <center>
              <a href="#" class="btn btn-primary js-open-signup">Going</a>
              <a href="#" class="btn btn-primary js-open-signup">Maybe</a>
              <a href="#" class="btn btn-primary js-open-signup">Not Going</a>
            </center>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-padding">
    <% unless user_signed_in? %>
      <div class="row">
        <div class="col-md-12">
          <%= render 'home/signup_call' %>
        </div>
      </div>
  <% end %>    
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <div class="event-user-count clearfix">
            <%= render 'rsvps/events/count', event: @event %>                   
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <div class="event-info">
            <h4>Info</h4>
            <% if @event.place.present? %>
              <%= image_tag "http://maps.google.com/maps/api/staticmap?size=356x254&sensor=false&zoom=16&markers=#{@event.place.latitude}%2C#{@event.place.longitude}&key=#{Rails.application.secrets[:google_places]['static']}", width: "100%", class: "img-responsive" %>
              <div class="place-name"><a href="#"><%= @event.place.name %></a></div>
              <div class="place-formatted-address"><%= @event.place.formatted_address %></div>
            <% end %>
            <div class="event-date">
              <b>Date:</b> <%= event_dates(@event) %>
            </div>
            <div class="event-time">
              <b>Time:</b> <%= event_times(@event) %>
            </div>
            <% if @event.place.present? %>
              <div class="event-directions">
                <center><a href="http://maps.google.com/?q=<%= @event.place.formatted_address %>" class="btn btn-primary" target="_blank">Directions</a></center>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if @nearby_events.present? %>
      <div class="row">
        <div class="col-md-12">
          <div class="module">
            <h4>Nearby Events</h4>
            <% @nearby_events.each do |event| %>
              <div class="event-page-nearby-event clearfix">
                <img src="<%= event.image? ? event.image_url(:thumb) : asset_path("events/banner_placeholder_thumb.png") %>" width="69" height="69" class="pull-left">
                <div class="event-page-nearby-event-title"><%= link_to event.name, event %></div>
                <div class="event-page-nearby-event-date"><%= event_dates(event) %></div>
                <div class="event-page-nearby-event-place"><a href="#"><%= event.place.name %></a></div>
              </div> 
            <% end %>                           
          </div>
        </div>
      </div> 
    <% end %>
    <% unless @footer_page %>
      <%= render 'layouts/sidebar_footer' %>
    <% end %>           
  </div>
  <div class="col-md-8 col-padding">
    <% if @more_events.present? %>
      <div class="row">
        <div class="col-md-12">
          <div class="module">
            <h4>More Events By This Host</h4>
            <% @more_events.each do |event| %>
              <div class="event-more-events clearfix">
                <d1 class="pull-left">
                  <dt><%= local_time(event.start, "%b") %></dt>
                  <dd><%= local_time(event.start, "%d") %></dd>
                </d1>
                <img src="<%= event.image? ? event.image_url(:thumb) : asset_path("events/banner_placeholder_thumb.png") %>" width="90" height="90" class="pull-left">
                <div class="more-event-title"><%= link_to event.name, event %></div>
                <div class="more-event-date"><%= event_dates(event) %></div>
                <div class="more-event-time"><%= event_times(event) %></div>
                <% if event.place.present? %>
                  <div class="more-event-place"><a href="#"><%= event.place.name %></a></div>
                <% end %>
              </div>
            <% end %>             
          </div>
        </div>
      </div>
    <% end %>
    <% if user_signed_in? %>
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <div class="create-status clearfix">
            <%= render 'posts/form' %>
          </div>
          <div class="oembed-preview" style="display:none;">
          </div>          
        </div>
      </div>
    </div>   
    <% end %> 
    <div class="posts">
      <% @posts.each do |post| %>
        <%= render "posts/#{post.type.underscore}", post: post %>
      <% end %>      
    </div>
    <%= render 'shared/modal', id: "share", partial: "shares/modal" %>
    <center><%= will_paginate @posts, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" if @posts.present? %></center>    
  </div>
</div>