<% if remotipart_submitted? %>
  var event_img = $(".event-banner-img");
  var remove_link = $('.remove-event-banner');
  var banner_ajax_container = $('.banner-ajax-container');
  event_img.attr('src', '<%= @event.image_url(:full) %>');
  banner_ajax_container.hide();
  remove_link.html('<%= link_to "Remove", event_remove_image_path(@event), method: :delete, remote: true, data: {confirm: "Are you sure you want to delete this?"} if @event.image? %>');
<% end %>