<div class="rsvp-user clearfix">
  <%= link_to rsvp.user do %>
    <img src="<%= rsvp.user.profile.image? ? rsvp.user.profile.image_url(:thumb_small) : asset_path("small_male_user.png") %>" width="45" height="45" class="pull-left">
  <% end %>
  <div class="rsvp-name pull-left">
    <img src="<%= rsvp.user.profile.team.present? ? rsvp.user.profile.team.image_url(:flair) : asset_path("no_team.png") %>" width="25">
    <%= link_to rsvp.user.full_name, rsvp.user %> <span class="rsvp-username"><%= link_to "@#{rsvp.user.username}", rsvp.user %></span>
  </div>
  <% unless current_user == rsvp.user %>
    <div class="rsvp-follow pull-right">
      <div data-followable-id="<%= rsvp.user.slug %>">
        <%= render "friend_requests/button", user: rsvp.user %>
      </div>       
    </div>
  <% end %>  
</div> 