<div class="about">
  <div class="container">
    <div class="about-header">
      About Catch 'Em Go
    </div>
  </div>
  <div class="about-body">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 margin-top-30 margin-bottom-30">
          <img class="pull-left" src="<%= asset_path 'about/about_image.png' %>">
          <div class="about-body-content pull-left">
            <p>Catch 'Em Go is your Pokemon Go Social Network, allowing trainers to find and connect with one another. At its core, Catch 'Em Go is a dedicated platform for Pokemon Go fans to share sightings, achievements, events, and other content focusing solely on what they want to focus on, Pokemon Go.</p>

            <p>Don't weed through the clutter of thousands of Pokemon Go sightings or meetups. Find the ones you care about near you.</p>
            <div class="follow-us">FOLLOW US</div>
            <div class="follow-us-links">
              <a href="https://twitter.com/CatchEmGo" target="_blank"><img src="<%= asset_path 'about/about_twitter.png' %>"></a>
              <a href="http://facebook.com/CatchEmGo" target="_blank"><img src="<%= asset_path 'about/about_fb.png' %>"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team-header">
    <div class="container">
      <div class="header">The Team</div>
    </div>
  </div>
  <div class="team-body">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-3 margin-top-40">
          <img src="<%= asset_path 'about/michal.png' %>" width="141">
          <div class="team-member-name">Michal Kucharz</div>
          <p class="about-team-member">
            Michal is Co-Founder of Catch 'Em Go, having been involved in the gaming industry for over 4 years. He was previously Director of League Operations for Turtle Entertainment's ESL America, running ESL competitions across North America.  
          </p> 
          <div class="team-member-socials">
            <a href="https://twitter.com/kuchcio/" target="_blank"><img src="<%= asset_path 'about/about_twitter.png' %>"></a>
            <a href="https://linkedin.com/pub/michal-kucharz/47/67a/62" target="_blank"><img src="<%= asset_path 'about/about_linkedin.png' %>"></a>
          </div>           
        </div>
        <div class="col-md-3 margin-top-40">
          <img src="<%= asset_path 'about/shashi.png' %>" width="141">
          <div class="team-member-name">Shashi Singh</div>
          <p class="about-team-member">
            Shashi is Co-Founder of Catch 'Em Go and has been involved in the gaming industry for ten years. He has worked with many top brands in the industry, and previously was eSports Manager for MOBAFire and eSports Director for Heroes of Newerth.
          </p>            
          <div class="team-member-socials">
            <a href="https://twitter.com/detonatR" target="_blank"><img src="<%= asset_path 'about/about_twitter.png' %>"></a>
            <a href="https://www.linkedin.com/in/detonatR" target="_blank"><img src="<%= asset_path 'about/about_linkedin.png' %>"></a>
          </div>            
        </div>
        <div class="col-md-3 margin-top-40">
          <img src="<%= asset_path 'about/fernando.png' %>" width="141">
          <div class="team-member-name">Fernando Martinez</div>
          <p class="about-team-member">
             Fernando is the man behind all Catch 'Em Go design with experience in branding identity, digital illustration, user experience, and product design. He has done work with many eSports organizations and is a designer and developer at Livestream.        
          </p>
          <div class="team-member-socials">
            <a href="http://twitter.com/StereoDVT" target="_blank"><img src="<%= asset_path 'about/about_twitter.png' %>"></a>
            <a href="https://linkedin.com/in/fernandojm" target="_blank"><img src="<%= asset_path 'about/about_linkedin.png' %>"></a>          
          </div>            
        </div>        
        <div class="col-md-3 margin-top-40">
          <img src="<%= asset_path 'about/rob.png' %>" width="141">
          <div class="team-member-name">Robert Wells</div>
          <p class="about-team-member">
            Rob is the community and marketing guy at Catch 'Em Go, having worked in and out of the gaming industry for the past 4 years with companies like MOBAFire and Velocity eSports. Rob also works as a marketing consultant at a major telecoms company.      
          </p>
          <div class="team-member-socials">
            <a href="https://twitter.com/TakashiNagai_" target="_blank"><img src="<%= asset_path 'about/about_twitter.png' %>"></a>
            <a href="https://www.linkedin.com/in/takashi-wells-4378a151" target="_blank"><img src="<%= asset_path 'about/about_linkedin.png' %>"></a>          
          </div>            
        </div>                    
      </div>
    </div>
  </div>
</div>