<div class="container">
  <div class="contact-header">Contact Catch 'Em Go</div>
</div>
<div class="contact">
  <div class="contact-body">
    <div class="container">
      <div class="row margin-top-60 margin-bottom-60">
        <div class="col-md-6">
          <div class="contact-left pull-right">
            <p class="contact-left-italics">
              Have questions or feedback?<br />
              Let's talk!
            </p>
            <p class="contact-left-email">
              Email us at <a href="mailto:info@catchemgo.com" target="_blank">info@catchemgo.com</a>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="contact-right pull-left">
            <dl class="dl-horizontal">
              <dt>Beta Feedback</dt>
              <dd><a href="mailto:feedback@catchemgo.com" target="_blank">feedback@catchemgo.com</a></dd>
              <dt>Support</dt>
              <dd><a href="mailto:support@catchemgo.com" target="_blank">support@catchemgo.com</a></dd>
              <dt>Press</dt>
              <dd><a href="mailto:press@catchemgo.com" target="_blank">press@catchemgo.com</a></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>