<div class="container margin-bottom-80">
  <div class="margin-top-40 margin-bottom-20"><center><%= image_tag "index/index_logo.png", class: "index-header" %></center></div>
  <div class="row">
    <div class="col-md-6">
      <div class="index-register-header margin-bottom-20">First time? Sign Up!</div>
      <div class="index-register-form">
        <%= form_for(@user, as: :user, url: user_registration_path, html: {class: 'form form-horizontal'}) do |f| %>
          <div class="form-group">
            <%= f.fields_for :profile do |profile| %>
              <div class="col-sm-6">
                <%= profile.text_field :first_name, class: 'form-control input-lg', placeholder: 'First Name' %>
              </div>
              <div class="col-sm-6">
                <%= profile.text_field :last_name, class: 'form-control input-lg', placeholder: 'Last Name' %>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.email_field :email, class: 'margin-top-20 form-control input-lg', placeholder: 'Email' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.text_field :username, class: 'margin-top-20 form-control input-lg', placeholder: 'Username' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.password_field :password, autocomplete: 'off', class: 'margin-top-20 form-control input-lg', placeholder: 'Password' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'margin-top-20 form-control input-lg', placeholder: 'Confirm Password' %>
            </div>
          </div>          
          <div class="form-group">
            <div class="col-sm-12">
              <center><%= f.submit "Sign Up", class: 'btn btn-primary btn-lg margin-top-20' %></center>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="index-three-points">
        <div class="bullet-point margin-top-20">
          <div class="pull-left">
            <%= image_tag 'index/globe.png' %>
          </div>
          <div class="bullet-text">Connect with trainers near you and around the world.</div>
        </div>
        <div class="bullet-point">
          <div class="pull-left">
            <%= image_tag 'index/people.png' %>
          </div>
          <div class="bullet-text">Share sightings and meetups in your area.</div>
        </div>
        <div class="bullet-point">
          <div class="pull-left">
            <%= image_tag 'index/medal.png' %>
          </div>
          <div class="bullet-text">Capture Pokemon or Gyms for achievements and bragging rights.</div>
        </div>                
      </div>
    </div>
  </div>
</div>