<div class="about">
  <div class="container">
    <div class="about-header"> 
      Terms of Service
    </div>
  </div>
  <div class="about-body">
    <div class="container">
      <div class="row margin-top-30 margin-bottom-30">  
        <p>These Terms of Service (“Terms”) govern your access to and use of services, including our various websites, SMS, APIs, email notifications, buttons, ads, and any information text, graphic photos or other materials uploaded, downloaded or appearing on the Services (collectively referred to as “Content”).  Your access to, and use of the Services are conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these Terms. If you do not agree with any of these terms, you are prohibited from accessing or using this site. The Materials contained in this website are protected by applicable copyright and trade mark law.</p>
        <p><b>1. Terms</b></p>
        <p>You are responsible for your use of the Services, for any Content you post to the Services and for any consequences. The Content you submit, post, or display will be available to be viewed by other users of the Services. You should only provide Content that you are comfortable sharing with others under these Terms.</p>
        <p>The Services that League Junkies provide, are always evolving therefore the nature of Services that League Junkies provide, might change from time to time without any prior notice to you. League Junkies gives itself right to stop providing Services to you or any user without any prior notice. We also retain the right to create limits on use and storage at our sole discretion at any time and without any prior notice to you.</p>
        <p>In consideration for League Junkies granting you access to the Services, you agree that League Junkies and its partners may place such advertising on the Services. </p>
        <p><b>2. Privacy</b></p>
        <p>Any information that you provide to League Junkies is subject to our Privacy Policy, which governs our collection and use of your information. You understand that through your use of the Services you consent the collection and use of this information. As part of providing you Services, we may need to provide you with certain communications, such as service announcements and administrative messages. These messages are considered as part of the Services and you may not be able to opt-out from receiving.</p>    
        <p><b>3. Passwords</b></p>
        <p>You the user is responsible for protecting your own password. We encourage you to create “strong” passwords. League Junkies will not be held responsible for any damage or loss for you to not keeping your password safe. </p>
        <p><b>4. Your Rights</b></p>
        <p>By posting any Content you agree to give us a non-exclusive royalty-free license to post, copy reproduce, process, adapt, modify, publish, transmit, display and distribute that Content in all media or distribution methods. </p>
      </div>
    </div>
  </div>


