<%= link_to friend_request_path(id: user.slug), method: :delete, remote: true, data: {confirm: 'Are you sure you want to delete this?'} do %>
  <img src="<%= asset_path 'icons/icons_plus.png' %>">
  Cancel Request
<% end %>