<% if @type == "notifications" %>
  var icon = $(".notification-toggle");
  var dropdown = $(".notification-dropdown-container");
<% end %>

<% if @type == "friend_requests" %>
  var icon = $(".friends-toggle");
  var dropdown = $(".friends-dropdown-container");
<% end %>

<% if @type == "conversations" %>
  var icon = $(".messages-toggle");
  var dropdown = $(".messages-dropdown-container"); 
<% end %>

icon.html("<%= j render @icon_partial %>");
if (dropdown.length) {
  dropdown.prepend('<%= j render @partial, :"#{@type.singularize}" => @object  %>');
}