if ($(".feed-latest-updates").length) {
  $(".feed-latest-updates").prepend("<%= j render 'public_activity/activity', activity: @activity %>");
  $(".feed-latest-updates div.latest-update:first").hide().fadeIn("slow")
}