<% @home_page = true %>
<% @footer_page = true %>

<div class="about">
  <div class="container">
    <div class="about-header">
      Login
    </div>
  </div>
  <div class="about-body">
    <div class="container">
      <div class="login-form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div>
            <%= f.email_field :email, autofocus: true, class: 'margin-top-20 form-control input-lg', placeholder: 'Email' %>
          </div>
          <div>
            <%= f.password_field :password, autocomplete: "off", class: 'margin-top-20 form-control input-lg',  placeholder: 'Password' %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>

          <div>
            <center><input class="btn btn-primary btn-lg margin-top-20 margin-bottom-20" name="commit" type="submit" value="Login"></center>
          </div>
        <% end %>

        <div class="margin-bottom-20"><center><%= render "devise/shared/links" %></center></div>
      </div>
    </div>
  </div>
</div>