$('.posts').append('<% @mentions.each do |mention| %><%= j render "posts/#{mention.mentioner.type.underscore}", post: mention.mentioner %><% end %>');
$('.post-body').readmore({
  lessLink: '<a href="#">See Less </a>',
  moreLink: '<a href="#">See More</a>',
  embedCSS: false,
  afterToggle: function(trigger, element, expanded) {
    if(!expanded) {
      $('html, body').animate( { scrollTop: element.offset().top }, {duration: 100 } );
    }
  }    
});
<% if @mentions.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @mentions, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" %>');
<% else %>
  $('.pagination').remove();
<% end %>