var posts = $(".posts");
var text_area = $("#status_message_body");
var button = $('.create-status input[type=submit]');
var oembed_field = $("#status_message_oembed_url");
var oembed_container = $("#status_message_body").parents('.module').find('.oembed-preview');
posts.prepend('<%= j render "posts/#{@status_message.type.underscore}", post: @status_message %>');
text_area.val('');
oembed_container.html("");
oembed_container.hide();
oembed_field.val("");
text_area.height('auto');
button.prop('disabled', true);