<%= form_for @gym, remote: true do |f| %>
  <div class="modal-body">
    <div class="marker-errors"></div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Name of Gym" %>
    </div>
    <div id="add_sighting_map"></div>
  </div>
  <div class="modal-footer">
    <%= hidden_field_tag 'place_id' %>
    <%= f.fields_for :marker do |m| %>
      <%= m.hidden_field :latitude %>
      <%= m.hidden_field :longitude %>
    <% end %>
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
    <%= f.submit "Submit", class: 'btn btn-primary btn-sm' %>
  </div>  
<% end %>