var alert_container = $(".marker-errors");

<% if @gym.errors.any? %>
  alert_container.html("<div class='alert alert-danger'><% @gym.errors.full_messages.each do |msg| %><p><%= msg %></p><% end %></div>");
<% end %>