<% if photo.user == current_user %>
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= image_tag "icons/icons_3dots.png" %>
  </a>
  <ul class="dropdown-menu dropdown-point post-menu">
    <li><%= link_to "Delete Photo", photo_path(photo), method: :delete, data: {confirm: 'Are you sure you want to delete this?'} %></li>
  <ul>
<% end %>