<%= form_for @photo, html: { multipart: true }, remote: true do |f| %>
  <div class="modal-body">
    <div class="photo-errors"></div>
    <%= f.text_area :description, class: 'form-control resize atwho', rows: '1', placeholder: 'Say something about this photo...' %>
    <%= f.file_field :image, accept: 'image/png,image/tiff,image/jpeg, image/jpg' %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
    <%= f.submit "Upload", class: 'photo-btn-submit btn btn-primary btn-sm' %>
  </div>  
<% end %>