<div class="user-photo pull-left">
  <%= link_to photo_path(photo), class: "fancybox", remote: true do %>
    <img src="<%= photo.image_url(:thumb_large) %>" width="186" height="148">
  <% end %>
</div>