var photos = $(".photos");
var modal = $("#newPhotoModal");

<% if @photo.errors.any? %>
  var alert_container = $(".photo-errors");
  alert_container.html("<div class='alert alert-danger'><% @photo.errors.full_messages.each do |msg| %><p><%= msg %></p><% end %></div>");
<% else %>
  modal.modal('hide');
  photos.prepend('<%= j render "photos/photo", photo: @photo %>');
  modal.on('hidden.bs.modal', function(e) {
    content.html("<%= j render 'photos/modal' %>");
  });
<% end %>