<div class="container">
  <%= render 'users/header' %>
  <div class="col-md-12 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <div class="user-media-header">
            <%= image_tag 'icons/icons_photos.png', class: "pull-left" %> <h4>Photos</h4>
          </div>
          <div class="user-media-nav">
            <% if @user == current_user %>
              <%= link_to "Add Photo", new_photo_path, remote: true, data: {toggle: 'modal', target: "newPhotoModal"} %>
            <% end %>
          </div>
          <div class="user-media-container photos clearfix">
            <% @photos.each do |photo| %>
              <%= render 'photos/photo', photo: photo %>
            <% end %>                      
          </div>
          <%= render 'shared/modal', id: "newPhoto", partial: "photos/modal" %>           
        </div>
      </div>
    </div>
  </div>
</div>