<div class='photo-viewer-wrapper' style='padding-right:343px; height:100%; overflow: hidden;'>
  <div class='photo-viewer-image' style='float: left; width: 100%; display: block;'>
    <%= image_tag @photo.image_url(:scaled_full) %>
  </div>
  <div class='photo-view-info' style='float: left; width: 343px; margin-right: -343px; display:block;'>
    <div data-photo-id="<%= @photo.id %>" class="photo-user">
      <img src="<%= @user.profile.image? ? @user.profile.image_url(:thumb_small) : asset_path("small_male_user.png") %>" width="59" height="52" class="pull-left">
      <div class="photo-head pull-left">
        <div class="photo-by">
          <span class="post-author">
            <img src="<%= @user.profile.team.present? ? @user.profile.team.image_url(:flair) : asset_path("no_team.png") %>" width="25">
            <%= link_to @user.full_name, @user %></span> <span class="photo-author-username"><%= link_to "@#{@user.username}", @user %>
          </span>
        </div>
        <div class="photo-date"><%= local_time_ago(@photo.created_at) %></div>
      </div>
      <div class="clearfix"></div>
      <div class="photo-body"><%= simple_format auto_link_usernames(linkify_hashtags(@photo.description)) %></div>
      <div class="photo-footer clearfix">
        <div class="photo-more dropdown pull-right">
          <%= render "photos/dropdown", photo: @photo %>
        </div>            
        <div class="photo-like like-button pull-right">
          <% if !current_user.likes?(@photo.id, @photo.class.to_s) %>
            <%= render 'likes/like', object: @photo, symbol: :likes %>
          <% else %>
            <%= render 'likes/unlike', object: @photo, symbol: :likes %>
          <% end %>
        </div>
      </div>
      <div class="photo-stats">
        <span class="likes-count">
          <%= render 'likes/likes_count', object: @photo %>
        </span>
        <span class="comments-count">
          <%= render 'comments/comments_count', object: @photo %>
        </span>
      </div>
      <div class="photo-comment-input">
        <%= render 'comments/form', object: @photo %>        
      </div>  
      <div class="photo-comments scrollbar">
        <% @comments.each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
        <% end %>  
      </div>
      <div class="photo-comments-pagination"><%= link_to "View More", photo_comments_path(@photo, comments_page: @comments.next_page), class: "load-more-comments", remote: true if @comments.next_page %>  
      </div>                 
    </div>
  </div>
  <div class='clear'></div>
</div>