<p class="notification-heading">
  <%= image_tag "icons/notifications/add-friend.png" %> 
  <%= @friend_requests.count %> New Friend <%= "Request".pluralize(@friend_requests.count) %>
</p>
<div class="friends-dropdown-container scrollbar">
  <% @friend_requests.each do |friend_request| %>
    <%= render "friend_requests/dropdown/friend_request", friend_request: friend_request %>
  <% end %>
</div>
<center><%= will_paginate @friend_requests, param_name: :friend_requests_page, params: { controller: "friend_requests", action: "paginate"}, renderer: BootstrapPagination::Rails, class: "friend-request-pagination" if @friend_requests.present? %></center> 
<div class="notifications-more">
  <center><%= link_to "View More", friend_requests_path %></center>
</div>