<li data-friend-username="<%= friend_request.user.slug %>">
  <div class="friend-pic">
    <%= link_to friend_request.user do %>
      <img src="<%= friend_request.user.profile.image? ? friend_request.user.profile.image_url(:thumb_small) : asset_path('small_male_user.png') %>" width="50" height="50">
    <% end %>
  </div>
  <span class="friend-name">
    <%= link_to friend_request.user.full_name, friend_request.user %> 
    <span class="friend-username"><%= link_to "@#{friend_request.user.username}", friend_request.user %></span>
  </span>
  <span class="friend-message">
    <%= link_to "Accept", friend_request_path(id: friend_request.user.slug), method: :put, remote: true %> / <%= link_to "Reject", friend_request_path(id: friend_request.user.slug), method: :delete, remote: true %>
  </span> 
</li>