<% if user_signed_in? %>
  <% if current_user.friend_requested?(user) %>
    <%= render "friend_requests/button/unrequest", user: user %>
  <% elsif user.friend_requested?(current_user) %>
    <%= render "friend_requests/button/accept", user: user %>
  <% elsif current_user.friends.include?(user) %>
    <%= render "friends/remove_friend", user: user %>
  <% else %>
    <%= render "friend_requests/button/request", user: user %>
  <% end %>
<% else %>
  <%= render "friend_requests/button/request", user: user %>
<% end %>