<%= image_tag 'icons/icons_friends.png', width: 25 %>
<% unless FriendRequest.where(friend: current_user).count == 0  %>
  <span class="nav-badge notification-counter"><%= FriendRequest.where(friend: current_user).count %></span>
<% end %> 