if ($(".friends-dropdown-container").length) {
  var icon = $(".friends-toggle");  
  var dropdown_friend = $("li[data-friend-username='<%= @user.slug %>']");
  dropdown_friend.fadeOut("normal", function() {
    $(this).remove();
  });
  icon.html("<%= j render 'friend_requests/icon' %>");
}

if ($("div[data-followable-id='<%= @user.slug %>']").length) {
  var friend = $("div[data-followable-id='<%= @user.slug %>']");
  friend.html("<%=j render 'friend_requests/button/request', user: @user %>");
}