<div class="container">
  <div class="col-md-3 col-padding">
    <%= render 'dashboard/sidebar' %>
  </div>
  <div class="col-md-6 col-padding">
    <div class="module search-results-for">
      Friend Requests
    </div>
    <div class="nearby-summoners">
      <% @incoming.each do |incoming| %>
        <%= render 'nearby/trainer', user: incoming.user %>
      <% end %>
    </div>
    <center><%= will_paginate @incoming, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" if @profiles.present? %></center>    
  </div>
  <div class="col-md-3 col-padding">
  </div>
</div>