$('.nearby-summoners').append('<% @incoming.each do |incoming| %><%= j render "nearby/trainer", user: incoming.user %><% end %>');

<% if @incoming.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @incoming, renderer: BootstrapPagination::Rails. param_name: "main_pagination", class: "feed-pagination" %>');
<% else %>
  $('.pagination').remove();
<% end %>