$('.friends-dropdown-container').append('<% @friend_requests.each do |friend_request| %><%= j render "friend_requests/dropdown/friend_request", friend_request: friend_request %><% end %>');

<% if @friend_requests.next_page %>
  $('.friends-menu .pagination').replaceWith('<%= j will_paginate @friend_requests, param_name: :friend_requests_page, params: { controller: "friend_requests", action: "paginate"}, renderer: BootstrapPagination::Rails, class: "friends-pagination" %>');
<% else %>
  $('.friends-menu .pagination').remove();
<% end %>