if ($(".friends-dropdown-container").length) {
  var icon = $(".friends-toggle");
  $("li[data-friend-username='<%= @user.slug %>'] .friend-message").html("Friend request accepted!");
  icon.html("<%= j render 'friend_requests/icon' %>");
}

if ($("div[data-followable-id='<%= @user.slug %>']").length) {
  var friend = $("div[data-followable-id='<%= @user.slug %>']");
  friend.html("<%=j render 'friends/remove_friend', user: @user %>");
}