<div class="row">
  <div class="col-md-12">
    <div class="module">
      <div class="post clearfix" data-post-id="<%= post.id %>">
        <%= link_to post.user do %>
          <img src="<%= post.user.profile.image? ? post.user.profile.image_url(:thumb_small) : asset_path("small_male_user.png") %>" class="img-responsive pull-left">
        <% end %>
        <% if user_signed_in? %>
          <% if !current_user.favorites?(post.id, post.class.base_class.to_s) %>
            <%= render 'favorites/favorite', object: post %>
          <% else %>
            <%= render 'favorites/unfavorite', object: post %>
          <% end %>
        <% else %>
          <%= render 'favorites/favorite', object: post %>
        <% end %>
        <div class="post-head pull-left">
          <div class="post-by">
            <span class="post-author">
              <img src="<%= post.user.profile.team.present? ? post.user.profile.team.image_url(:flair) : asset_path("no_team.png") %>" width="25">
              <%= link_to post.user.full_name, post.user %>
            </span> <span class="post-author-username"><%= link_to "@#{post.user.username}", post.user %></span>
          </div>
          <div class="post-date"><%= link_to local_time_ago(post.created_at), post_path(post) %></div>
        </div>
        <div class="clearfix"></div>
        <div class="post-body">
          <%= simple_format auto_link(auto_link_usernames(linkify_hashtags(post.body))) %>

        </div>
        <% if post.o_embed_cache %>
          <div class="oembed-preview">
            <%= render 'o_embed_caches/embed', oembed: post.o_embed_cache.data, oembed_url: post.o_embed_cache.url, show_button: false %>
          </div>
        <% end %>
        <div class="post-footer clearfix">
          <div class="post-more dropdown pull-right">
            <%= render "posts/dropdown", post: post if user_signed_in? %>
          </div>         
          <div class="post-like like-button pull-right">
            <% if user_signed_in? %>
              <% if !current_user.likes?(post.id, post.class.base_class.to_s) %>
                <%= render 'likes/like', object: post, symbol: :likes %>
              <% else %>
                <%= render 'likes/unlike', object: post, symbol: :likes %>
              <% end %>
            <% else %>
              <%= render 'likes/like', object: post, symbol: :likes %>
            <% end %>
          </div>
          <div class="post-share pull-right">
            <% if user_signed_in? %>
              <% if !current_user.shares?(post.id, post.class.base_class.to_s) %>
                <%= render 'shares/share', object: post %>
              <% else %>
                <%= render 'shares/unshare', object: post %>
              <% end %>
            <% else %>
              <%= render 'shares/share', object: post %>
            <% end %>
          </div>         
        </div>
        <div class="post-stats">
          <span class="likes-count">
            <%= render 'likes/likes_count', object: post %>
          </span>
          <span class="comments-count">
            <%= render 'comments/comments_count', object: post %>
          </span>
          <span class="shares-count">
            <%= render 'shares/shares_count', object: post %>
          </span>
        </div>
        <div class="post-comment-input">
          <%= render 'comments/form', object: post if user_signed_in? %>
        </div> 
        <div class="post-comments">
          <% @comments = post.comments.page(params[:comments_page]).per_page(5) %>
          <% @comments.each do |comment| %>
            <%= render 'comments/comment', comment: comment %>
          <% end %>  
        </div>
        <div class="post-comments-pagination"><%= link_to "View More", post_comments_path(post, comments_page: @comments.next_page), class: "load-more-comments", remote: true if @comments.next_page %>  
        </div> 
      </div>     
    </div>
  </div>
</div> 