var original_post = $("div[data-post-id='<%= @post_id %>']");
var shared_posts = $("div[data-shared-id='<%= @post_id %>']");
original_post.closest('.row').fadeOut("normal", function() {
  $(this).remove();
});
shared_posts.closest('.row').fadeOut("normal", function() { 
  $(this).remove();
});