var oembed_container = $("#status_message_body").parents('.module').find('.oembed-preview');
oembed_container.html("<%= j render 'o_embed_caches/embed', oembed: @embedly.data, oembed_url: @url, show_button: true %>")