<p class="notification-heading">
  <%= image_tag "icons/notifications/message.png" %> 
  <%= current_user.unread_inbox_count %> New <%= "Message".pluralize(current_user.unread_inbox_count) %>
</p>
<div class="messages-dropdown-container scrollbar">
  <% @conversations.each do |conversation| %>
    <%= render "conversations/dropdown/conversation", conversation: conversation %>
  <% end %>
</div>
<center><%= will_paginate @conversations, param_name: :conversations_page, params: { controller: "conversations", action: "paginate"}, renderer: BootstrapPagination::Rails, class: "messages-pagination" if @conversations.present? %></center> 
<dv class="notifications-more">
  <center><%= link_to "View More", messages_path %></center>
</div>