<%= link_to message_path(conversation) do %>
  <li>
    <div class="friend-pic">
      <img src="<%= conversation.participants.reject {|p| p.id == current_user.id}.first.profile.image? ? conversation.participants.reject {|p| p.id == current_user.id}.first.profile.image_url(:thumb_small) : asset_path('small_male_user.png') %>" width="50" height="50">
    </div>
    <span class="friend-name">
      <%= conversation.participants.reject {|p| p.id == current_user.id}.first.full_name %> <span class="friend-username">@<%= conversation.participants.reject {|p| p.id == current_user.id}.first.username %></span>
    </span>
    <span class="friend-message">
      <%= truncate(conversation.receipts_for(current_user).last.message.body, length: 35) %>
    </span> 
  </li>
<% end %>