.oembed-preview {
  border-top: 1px solid #565656;
  position: relative;
  margin: 10px 0;
  overflow: hidden;  
}

.oembed-preview .card .card-header {
  min-height:21px;
}

.oembed-preview .card .card-content .card-video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 67.5%; 
}

.oembed-preview .card .card-content .card-video iframe, .oembed-preview .card .card-content .card-video object, .oembed-preview .card .card-content .card-video embed {
  position: absolute!important;
  height: 100%;
  width:100%;
  top:0;
  left:0;
}

.oembed-preview .ajax-loader {
  margin:10px auto 0 auto;
}

.oembed-preview .card {
  font-size:16px;
  position:relative;
  width:auto;
  z-index:1;
  margin:0px 5px;
}

.oembed-preview .card .sm-img .card-content {
  display:table;
}

.oembed-preview .card .sm-img .card-content > .card-image {
  display:block!important;
}

@media (min-width: 450px) {
  .oembed-preview .card .sm-img .card-content > .card-image {
    width:175px;
    display:table-cell;
    margin:0;
  }
}

.oembed-preview .card .card-image-img {
  margin:0 auto;
  display:block;
  max-width:100%;
}

.oembed-preview .card .header {
  padding:5px 0 7px;
}

.oembed-preview .card .card-content-container {
  overflow:hidden;
}

.oembed-preview .card .sm-img .card-content > .card-text {
  display:table-cell;
  vertical-align:middle;
  padding-left:10px;
}

.oembed-preview .card .card-text {
  padding:4px 8px 8px 0;
}

.oembed-preview .card .card-image {
  position:relative;
  overflow:visible;
}

.oembed-preview .card .card-text h4 {
  margin-bottom:3px;
}

.oembed-preview .card .card-text p {
  margin-bottom:4px;
  display:block;
  font-size:12px;
}

.oembed-preview .card .card-text h4, .oembed-preview .card .card-text p {
  position: relative;
  cursor:pointer;
}

.oembed-preview .card .card-text .card-action {
  display: block;
  font-size:12px;
  font-weight: 300;
  line-height: 20px;
  text-transform:uppercase;
}

.oembed-preview .card .card-text h4 a, .oembed-preview .card .card-text p a {
  color:white;
}

.oembed-preview .card .card-text h4 a:hover, .oembed-preview .card .card-text p a:hover {
  text-decoration:none;
}