.friends-menu {
  width: 300px;
}

.friends-menu li {
  padding: 10px;
  padding-bottom: 20px;
  width: 100%;
}

.friends-menu p {
  padding: 0 10px;
  padding-left: 25px;
}

.friends-menu span {
  margin-left: 10px;
}

.friends-menu a:hover {
  text-decoration:underline;
}

.friends-menu li:hover {
  background-color:#2f2f2f;
}

.friend-message a {
  color:#7a7a7a;
}