#map {
  height:440px;
}

.map-header {}

.map-locate-me {
  font-size:14px;
  display:inline-block;
  margin-left:10px;
}

.map-search {
  width:60%;
  display:inline-block;
  vertical-align:middle;
  margin-bottom:5px;
}

.map-search .btn[disabled] {
  opacity:1!important;
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.leaflet-tooltip {
  background: #2b2b2b;
  border: 1px solid rgba(170, 170, 170, 0.6)!important;
  color: #fff!important;
  font-size: 9px;
  line-height: 16px;
  padding: 0 6px!important;
  text-align: center;
  white-space: nowrap!important;
  border-radius: 8px!important;
  pointer-events: none!important;
  box-shadow: none!important;
}

#add_sighting_map {
  height:300px;
}

.seen-at-hint {
  margin-top:34px;
  margin-left:10px;
  cursor:pointer;
}

.leaflet-popup-tip {
  border-top-color:#2b2b2b;
  background:#2b2b2b;
}

.leaflet-popup-content-wrapper {
  background-color: #2b2b2b;
  opacity: 1;
  border-radius: 4px;
  color: #fff;
}

.leaflet-popup-content .report {
  margin-top:10px;
}

.leaflet-popup-content p {
  margin:0;
}

.leaflet-popup-content .popup-image {
  display:table-cell;
  vertical-align:middle;
  padding-right:10px;
}

.leaflet-popup-content .popup-info {
  display:table-cell;
  vertical-align:top;
}

.leaflet-popup-content .popup {
  overflow:auto;
}

.leaflet-popup-content a {
  color: #fac800;
}