.notifications {
  margin:10px;
}

.notification-heading {
  background-color: #f0c802;
  color: #252525;
  font-weight: bold;
  margin-top: 10px;
  width: 300px;
}

.notification-menu {
  width: 300px;
}

.notification-menu li {
  padding: 10px;
  padding-bottom: 20px;
  width: 100%;
  cursor: pointer;
}

.notification-menu li.unread {
  background-color:#2f2f2f;
}

.notification-menu li.unread:hover {
  background-color:#252525;
}

.notification-menu li.read:hover {
  background-color:#2f2f2f;
}

.notification-menu p {
  padding: 0 10px;
  padding-left: 25px;
}

.friend-pic {
  height: 50px;
  width: 50px;
  margin: 0px;
  float: left;
}

.friend-name {
  display: block;
  color: #f0c802;
  font-weight: bold;
  padding-left: 50px;
}

.friend-username {
  color: #989898;
  font-weight: 300;  
  margin:0!important;
  font-size:12px;
}

.friend-username a {
  color: #989898;
}

.friend-message {
  color: #7a7a7a;
  font-size: 0.8em;
  margin-left: 5px;
}

.notification-menu span {
  margin-left: 10px;
}

.notification-menu a:hover {
  text-decoration:none;
}

.notification-dropdown-container {
  max-height:320px;
  overflow:hidden;
}

.notification-dropdown-container:hover {
  overflow-y:auto!important;
}

.notifications-more a {
  font-weight:bold;
  font-size:12px;
  color:#fac800;
}

.notifications-more a:hover {
  text-decoration:underline;
}