.fancybox-skin {
    background-color:#2b2b2b;
    border-radius:3px;
}

.fancybox-caption, .fancybox-title {
    display: none;
}

.photo-viewer-image {
  text-align: center;
  height: 100%;
  float: left;
  position: relative;
  background: none black;
  border: #ffffff 1px solid;
  border: rgba(255, 255, 255, .1) 1px solid;
  -webkit-box-sizing: border-box;
}

.photo-viewer-image:before {
  content:"";
  display: inline-block;
  height: 100%;
  margin-right: -0.25em;
  vertical-align: middle;
}

.photo-viewer-image img {
  display: inline-block;
  height: auto;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.photo-user {
  padding:20px;
  color:#fff;
}

.photo-head {
  margin-left:10px;
}

.photo-user .photo-by {
  color:#fff;
  font-size:14px;
}

.photo-user .photo-author a {
  text-transform: none;
  color: white;
}

.photo-user .photo-author-username a {
  color:#989898;
  font-weight:300;
  font-size:12px;
}

.photo-user .photo-date {
  font-weight:300;
  color:#989898;
}

.photo-user .photo-body {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  word-wrap: break-word;  
}

.photo-user .photo-footer {
  border-bottom: 1px solid #565656;
  padding-bottom: 15px;
  margin-bottom: 10px;
  font-size: 12px;  
}

.photo-user .photo-footer a {
  font-weight: 700;
  text-transform: uppercase;
}

.photo-user .photo-footer img {
  margin-right:10px;
}

.photo-user .photo-stats {
  font-size: 10px;
  margin-bottom: 10px;  
}

.photo-user .photo-stats img {
  margin-right: 5px;
}

.photo-user .photo-stats span {
  margin-right: 15px;
}

.photo-comment-input .form-group {
  margin-bottom: 0;
}

.photo-comment-input .form-group .input-group-addon {
  padding: 0;
  background-color: transparent;
  border: 0;
  padding-right: 10px;
}

.photo-comment-input .form-group .form-control {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.photo-comments .comment {
  border-bottom: 1px solid #565656;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  margin-top: 20px;
}

.photo-comments .comment:last-child {
  margin-bottom: 0;
  border: 0;
  padding: 0;
}

.photo-comments-pagination {
  text-align: center;
}

.photo-user .pull-left {
  margin-right:10px;
}

.photo-head .pull-left {
  margin:0;
}

.photo-comments {
  max-height:400px;
  overflow:hidden;
}

.photo-comments:hover {
  overflow-y:auto!important;
}

.photo-more {
  margin-left:35px;
}