.create-status {
  margin:42px 10px 10px 10px;
}

.create-status textarea {
  margin-bottom:10px;
}

.create-status img {
  margin:10px;
}

.post {
  margin:10px;
}

.post .post-head, .share-post-preview .post-head {
  margin-left:10px;
  overflow:hidden;
  display:inline-block;
}

.post-head .post-author-username a {
  color:#989898;
  font-weight: 300;  
  font-size:12px;
}

.post-head .post-date a {
  color:#989898;
  margin-bottom:10px;
  font-weight:300;
}

.post-by .post-author a {
  text-transform:none;
  color:white;
}

.post .post-body, .share-post-preview .post-body {
  margin-top:15px;
  margin-bottom:15px;
  font-size:12px;
  word-wrap:break-word;
}

.post .post-body img {
  width:100%;
  height:auto;
  text-align:center;
}

.post .post-footer {
  border-bottom: 1px solid #565656;
  padding-bottom:15px;
  margin-bottom:10px;
  font-size:12px;
}

.post .post-footer a {
  font-weight:700;
  text-transform: uppercase;
}

.post .post-footer img {
  margin-right:10px;
}

.post .post-share {
  margin-right:35px;
}

.post .post-more {
  margin-left:35px;
}

.post .post-stats {
  font-size:10px;
  margin-bottom:10px;
}

.post .post-stats img {
  margin-right:5px;
}

.post .post-stats span {
  margin-right:15px;
}

.post .post-comment-input .form-group {
  margin-bottom:0;
}

.post .post-comment-input .form-group .input-group-addon {
  padding:0;
  background-color:transparent;
  border:0;
  padding-right:10px;
}

.post .post-comment-input .form-group .form-control {
  border-bottom-left-radius:4px;
  border-top-left-radius:4px;    
}

.post-comments .comment {
  border-bottom: 1px solid #565656;
  margin-bottom:10px;
  padding-bottom:10px;
  font-size:12px;
  margin-top:20px;
}

.post-comments .comment:last-child {
  margin-bottom:0;
  border:0;
  padding:0;
}

.comment-body {
  overflow:hidden;
}

.comment-footer {
  color:#989898;
  font-weight:300;
  margin-left:42px;
  margin-top:5px;
}

.comment-footer a {
  color:#989898;
}

.post-comments-pagination {
  text-align:center;
}

.post .post-fav {
  height:24px;
  width:20px;
}

.favorite {
  background-image:url('<%= asset_path "icons/icons_favorite.png" %>');
}

.nonfavorite {
  background-image:url('<%= asset_path "icons/icons_nonfavorite.png" %>');
}

.sighting-message {
  background-image:url('<%= asset_path "posts/win_message_bg.png" %>');
  background-repeat:no-repeat;
  background-position:center top;
  min-height:181px;
}

.match-message-content {
  padding-top:15px;
}

.match-message-content .match-message-body {
  margin-left:auto;
  margin-right:auto;
  width:355px;
  text-align:center;
  font-size:16px;
  margin-bottom:15px;
}

.match-message-content .match-message-body span {
  color:#fac800;
  font-weight:bold;
}

.match-message-content .match-message-body .match-message-date a {
  color:#fac800;
  font-size:14px;
}

.match-message-content .match-message-body .match-message-link {
  margin-top:25px;
  font-weight:bold;
}

#status_message_body, #comment_body {
  height:34px;
}

.share-post-preview {
  margin:15px;
}

.share-post-preview blockquote {
  font-size:14px;
}

.share-post-preview .preview-media {
  margin-bottom:10px;
}
.share-post-preview .preview-media img {
  width:100%;
  height:auto;
  text-align:center;
}

.post-menu li:hover {
  background-color: #2f2f2f;
}

.post-menu > li a:hover, .post-menu > li a:focus {
  background-color:#fac800;
  color:#000;
}

.readmore-js-section {
  overflow:hidden;
}

.comment .readmore-js-toggle {
  margin-left:42px;
}