.profile-box-about-body {
  margin-top:30px;
}

.season-rank {
  margin-right:15px;
}

.season-rank h4 {
  margin-left:15px;
}

.match-history-result {
  margin-bottom:10px;
  border-bottom: 1px solid #565656;
}

.match-history-result:last-child {
  margin-bottom:0;
  border:0;
}

a.tab {
  font-size:14px;
  font-weight:bold;
  text-align:center;
  text-transform:uppercase;
}

a.tab:hover {
  text-decoration:none;
  background-color:#fab008;
  color:#fff;
}

.profile-follow-button {
  color:#fac800;
  font-weight:bold;
  text-transform: uppercase;
}

.profile-follow-button img {
  margin-top: -1px;
  margin-left:10px;
  margin-right:5px;
}

.season-rank-content {
  text-align: left;
  width: 50%;
}
.season-rank p {
  padding-left: 15px;
}

.rank-header {
  color: #f0c802;
}

.season-rank-text {
  margin-top: 25px;
}

.rank-values {
  font-weight: bold;
}

.gradient-line {
  margin-top: 20px;
  margin-left: 15px;
  width: 50%;
  background: linear-gradient(to right, rgba(239,196,2,1) 0%, rgba(43,43,43,1) 100%);
  height: 2px;
}

.profile-img {
  position:relative;
}

.profile-img-edit-bg {
  position:absolute;
  bottom:0;
  background-color:#000;
  opacity:0.8;
  width:100%;
}

.profile-img-edit-text {
  position:absolute;
  bottom:0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:12px;
  text-transform: uppercase;
  color:#fac800;
}

.profile-img-edit-camera {
  margin:5px;
}

.profile-img-edit-dropdown {
  width:100%;
  text-align:center;
}

.profile-img-edit-dropdown form {
  display:none;
}

.profile-img-edit-dropdown li label {
  width:100%;
  margin:0;
  cursor:pointer;
  font-weight:normal;
}

.about-menu {
  padding:10px 0;
  font-size:14px;
  font-weight:normal;
  text-transform:uppercase;
}

.about-menu li {
  padding: 10px 0;
  display: block;
  padding-left:30px;
}

.about-menu a {
  color:white;
}

.about-menu li:hover, .about-menu a:hover  {
  text-decoration:none;
  background-color:#fac800;
}

.about-menu li img {
  margin-right:10px;
}

.about-bio {
  font-size:12px;
  margin: 0 30px;
}

.about-bio h4 {
  text-transform:uppercase;
  margin-bottom:15px;
}

.about-bio h4 img {
  margin-right:5px;
}

.about-pencil {
  margin-left:10px;
}

.about-bio-footer {
  margin-top:35px;
}

.about-bio-footer .about-location {
  color:#fac800;
}

.about-bio-footer ul {
  margin-top:8px;
}
.about-bio-footer li img {
  margin-right:10px;
} 

.about-bio-footer li {
  margin-right:15px;
}

.about-bio-footer .about-social img {
  margin:0 5px;
}

.about-bio-hr {
  border-bottom:1px solid #fac800;
  width:100%;
  padding:10px 0;
  margin-bottom:20px;
}

.about-summoner {
  margin:0px 30px 20px 30px;
}

.about-summoner-avatar {
  display:table-cell;
  vertical-align:top;
  padding-right:10px;
}

.about-summoner-info {
  display:table-cell;
  vertical-align:top;
}

.about-summoner-name {
  font-size:16px;
  font-weight:bold;
  margin-bottom:5px;
  word-break:break-all;
}

.about-summoner-stats-header {
  font-size:14px;
  font-weight:bold;
  margin-bottom:5px;
}

.user-media-header h4 {
  text-transform:uppercase;
  padding-top:2px;
}

.user-media-container {
  margin:20px 40px;
}

.user-photo {
  margin:10px;
  position:relative;
}

.user-photo-caption-bg {
  position: absolute;
  bottom: 0;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
}

.user-friend-name {
  text-align:center;
  font-size:14px;
  font-weight:bold;
  color:#fac800;
  margin-top:5px;
}

.user-media-nav {
  text-transform:uppercase;
  font-size:12px;
  font-weight:bold;
  margin-left:40px;
}

.user-media-nav a {
  margin-right:5px;
  margin-left:5px;
}

.avatar-ajax-container {
  width:232px;
  height:205px;
  vertical-align:middle;
  text-align:center;
  display:table-cell;
}

.about-profile select {
  display:inline;
  width:130px;
}

.about-profile input[type=text] {
  width:300px;
  display:inline;
}

.about-location-form-img {
  padding-right:15px;
}

.about-gender-form-img {
  padding-right:8px;
}

.about-birthday-form-img {
  padding-right:11px;
}

.profile-box-about-body textarea {
  height:50px;
}

img.team-leader {
  width:100%;
  opacity:.1;
}

.profile-sighting {
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom: 1px solid #565656;
}

.profile-sighting:last-child {
  border:0;
  padding-bottom:0;
}

.profile-sighting-title {
  font-weight:bold;
  color:#fac800;
}

.profile-sighting-place a {
  color:white;
}

