.rsvp-name {
  font-size: 16px;
  margin-top: 5px;
}

.rsvp-name a {
  color:white;
}

.rsvp-username a {
  color:#989898;
  font-weight:300;
  font-size:12px;
}

.rsvp-follow {
  margin-top:5px;
  font-weight:bold;
  text-transform:uppercase;
}

.rsvp-follow img {
  margin-right:5px;
}   

.rsvp-user {
  margin-bottom:10px;
}

.rsvp-user:last-child {
  margin-bottom:0;
}

#rsvpModal .modal-body-content {
  padding-bottom:15px;
}

#rsvpModal .modal-body {
  height:300px;
  overflow-y:auto;
}

.rsvp-button {
  display:inline-block;
}