.navbar-form .btn {
  background:transparent;
  border:0;
  color:#939393;
}

.navbar-form input[type=text] {
  background:transparent;
  border:0;
  color:#939393;
}

.search-results-for {
  text-transform: uppercase;
  font-weight:bold;
  font-size:12px;
  color:#898989;
  text-align:center;
}

.search-result-info {
  margin-left:5px;
}

.search-result-info .search-result-username {
  font-weight:bold;
  color:#fac800;
  font-size:18px;
  margin-top:10px;
}

.search-result-info .search-result-fullname {
  font-size:18px;
}

.search-result-info .search-result-location {
  padding-top:5px;
}

.search-result-actions {
  color:#fac800;
  font-weight:bold;
  text-transform: uppercase;
}

.search-result-actions img {
  margin-top: -1px;
  margin-left:10px;
  margin-right:5px;
}

.search-results-for .nav-pills li {
  border-right:1px solid #565656;
}

.search-results-for .nav-pills li:last-child {
  border:0;
}

.search-results-for .nav-pills > li > a:focus, .search-results-for .nav-pills > li > a:hover {
  color: black;
  background-color: #fac800;
}

.search-results-for .team-icon {
  margin:10px 0 0 30px;
}

.search-result-actions .team-icon {
  position:absolute;
  bottom:12px;
  right:12px;
}