.settings {
  padding: 10px 0;
}
.settings-list {
  margin-top: 10px;
  padding-right: -10px;
}

.setting-list ul li {
  margin: 10px 0;
  display: block;
  padding:5px 0px 5px 30px;
  color:white;

}

.setting-list ul {
  padding-left: 0;
}

.setting-list .setting-option:hover, .setting-list a:hover  {
  text-decoration:none;
  background-color:#fac800;
  color:#2b2b2b;
}

.setting-active {
  width: 100%;
}

.settings-content {
  width: 80%;
  margin: 0 auto;
}

.settings-content p {
  display: inline-block;
}

.setting-container {
  border-bottom: 1px solid #fac800;
  line-height: 50px;
  padding-top: 10px;
}

.setting-container:last-of-type{
  margin-bottom: 25px;
  border: none;
}


.setting-title {
  color: white;
  font-weight: bold;
  padding-left: 25px;
  display: inline-block;
  width: 200px;
  height: 50px;
}

.setting-title-summoner {
  color: white;
  display: inline-block;
  width: 300px;
  height: 50px;
}

.setting-value {
  color: #8e8e8e;
  margin-left: 50px;
}

.settings .field_with_errors {
  color: #8e8e8e;
  display:inline;
}

.settings .field_with_errors input {
  border:0;
  background:none;
}

.settings .field_with_errors input:focus {
  outline:0;
}

.setting-value input {
  background:none;
  border:0;
}

.setting-value input:focus {
  outline:0;
}

.settings-account p,
.settings-linked p {
  font-size: 1.1em;
}

.account-search {
  margin: 10px 0;
  margin-bottom: 20px;
}

.account-search button {
  background-color: #fac800;
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  width: 25%;
  margin-left:50px;
}


/* THESE DIMENSIONS FOR IMAGES WILL BE CHANGED WHEN THERE IS AN IMAGE REPRESENTING.
 THIS IS JUST A PLACE HOLDER FOR PRESENTATION */
.settings-linked-container {
  display: inline-block;
  width: 33.33%;
  float: left;
}

.settings-linked-container h3,
.settings-linked-container p {
  float: left;
  margin-left: 10px;
  margin-top: -5px;
}

.value {
  color: #fac800;
}


.settings-linked-container img{
  width: 100px;
  height: 100px;
  border: 2px solid #fac800;
  float: left;
}

.set-height {
  height: 200px;
}