html {
  position:relative;
  min-height:100%;
}

body {
  color:#ffffff;
  font-family: 'Roboto', sans-serif;
  background: url(<%= asset_path "index/index_bg.png" %>) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;      
}

body.footer_page {
  padding-bottom: 70px; 
}

body.home {
  background: url(<%= asset_path "index/index_bg.png" %>) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;  
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(<%= asset_path "glyphicons-halflings-regular.eot" %>);
    src: url(<%= asset_path "glyphicons-halflings-regular.eot?#iefix" %>) format('embedded-opentype'), 
         url(<%= asset_path "glyphicons-halflings-regular.woff" %>) format('woff'), 
         url(<%= asset_path "glyphicons-halflings-regular.ttf" %>) format('truetype'), 
         url(<%= asset_path "glyphicons-halflings-regular.svg#glyphicons-halflingsregular" %>) format('svg');
}

@font-face {
  font-family: 'GothamBlack';
  src: url(<%= asset_path "gotham_black.eot" %>);
  src: url(<%= asset_path "gotham_black.eot?#iefix" %>) format('embedded-opentype'),
     url(<%= asset_path "gotham-black.woff" %>) format('woff'),
     url(<%= asset_path "gotham-black.ttf" %>)  format('truetype');
   font-style: normal;
 }

/* NAV */

.navbar {
  min-height:60px;
}

.lj-logo {
  height:53px;
  padding-top:5px;
}

.navbar-header a:hover {
  text-decoration:none;
}

.navbar-default .navbar-nav > li > a {
  color:#ffffff;
}

.navbar-default, .navbar-collapse {
  background-color:#272727;
  border-color:#f2c305; /*#f78427;*/
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fac800;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus {
  color:#fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color:#ffffff;
  background-color:#f78427;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color:#f78427;
}

.navbar-default .navbar-brand {
  color:#ffffff;
}

.nav-badge {
  display: block;
  position: absolute;
  top: 27px;
  right: 3px;
  line-height: 16px;
  padding: 0 5px;
  color: black!important;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border-width: 1px;
  border-radius: 10px;
  background-color: #ffb400!important;
  font-weight: 500;
  font-size: 13.5px;  
}

.navbar-form .login-options {
  font-size:12px;
}

.btn-nav:hover {
  background-color:#fff;
  color:#000;
}

.navbar-form .login-options label {
  vertical-align:middle;
  cursor:pointer;
}

.navbar-form .login-options a {
  margin-left:160px;
}

.navbar-form .row {
  margin-right:0;
}

.nav-avatar {
  border-radius:50%;
  margin-right:10px;
}

.nav-account {
  text-transform: uppercase;
  font-size:12px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color:#272727;
  color: #fac800;
}

.nav-pills > li > a {
  border-radius:2px;
}

.dropdown-menu {
  background-color:#252525;
}

.dropdown-menu > li > a {
  display: block;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal !important;
  font-size:14px;
  line-height: 1.428571429;
  color: #fac800;
  white-space: nowrap;
  text-transform:none !important;
}

.dropdown-menu:before {
  position: absolute;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';  
}

.dropdown-menu:after {
  position: absolute;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #272727;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-point:before {
  top:-7px;
  right:13px;
}

.dropdown-point:after {
  top:-6px;
  right:14px;
}

@media (max-width: 767px) {
  body {
    padding-top:0!important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fac800;
  }
  .user-menu > li:hover, .user-menu > li:focus {
    background-color:#fac800;
    color:#000;
  }  
  .navbar-fixed-top {
    position: relative;
    top: auto;
  }  
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
      max-height:inherit;
  }  
}

.user-menu > li {
  border-bottom:1px solid #363636;
}

.user-menu > li:last-child {
  border:0;
}

.user-menu > li a:hover, .user-menu > li a:focus {
  background-color:#fac800;
  color:#000;
}

.input-group-btn .btn {
  border-radius: 4px;
}

.search {
  width:100%;
  margin-top:10px;
}

.search .input-group {
  width:100%;
}

.login {
  margin-top:2px;
  margin-bottom:0;
}

/* Modules */

.col-padding {
  padding-right:2px;
  padding-left:2px;
}

.module {
  background-color:#2b2b2b;
  padding:10px;
  margin-bottom:4px;
  border-radius:3px;
  -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.59);
  box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.59);  
}

.module .pull-left {
  margin-right:10px;
}

/* Alerts */

.alert {
  padding: 15px;
  margin-bottom: 4px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  background-color: #77b300;
  border-color: #809a00;
  color: #ffffff;
}

.alert-success hr {
  border-top-color: #6a8000;
}

.alert-success .alert-link {
  color: #e6e6e6;
}

.alert-info {
  background-color: #9933cc;
  border-color: #6e2caf;
  color: #ffffff;
}

.alert-info hr {
  border-top-color: #61279b;
}

.alert-info .alert-link {
  color: #e6e6e6;
}

.alert-warning {
  background-color: #ff8800;
  border-color: #f05800;
  color: #ffffff;
}

.alert-warning hr {
  border-top-color: #d64f00;
}

.alert-warning .alert-link {
  color: #e6e6e6;
}

.alert-danger {
  background-color: #cc0000;
  border-color: #bd001f;
  color: #ffffff;
}

.alert-danger hr {
  border-top-color: #a3001b;
}

.alert-danger .alert-link {
  color: #e6e6e6;
}

/* Form Errors */
#error_explanation {
  color:#cf202e;
}

#error_explanation h2 {
  font-size:18px;
}

#error_explanation li {
  font-size:12px;
}

/* Buttons */
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #cb9b27;
  border-color:#cb9b27;
}

.btn {
  border-radius: 2px!important;
}

.btn-primary {
  color:#fff;
  background-color:#f0c802;
  border-color:#f0c802;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-color: #cb9b27;
  border-color:#cb9b27;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #cb9b27;
  border-color:#cb9b27;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important;
}

a {
  color:#fac800;
}

a:hover, a:focus {
  color:#fac800;
  text-decoration:underline;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 2px solid #fac800;
}

small {
  color:#787878;
}

.green {
  color:#80cf10;
}

.red {
  color:#ff3c00;
}

.yellow {
  color:#fac800;
}

.gray {
  color:gray;
}

textarea {
  resize:none;
}

.ajax-loader {
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: .7;
  margin:0 auto;
}

.ajax-loader.medium {
  height: 32px; 
  width: 32px;
  background: url(<%= asset_path "ajax-loader.gif" %>);
}

/* MODALS */
.modal-content {
  background-color:#2b2b2b;
}

.modal-header {
  border-bottom:1px solid #565656;
}

.modal-footer {
  border-top:1px solid #565656;
}

.modal-body textarea {
  height:74px;
}

.modal-header img {
  margin-right:10px;
}

/* FOOTER */
.footer {
  background-color:#2d2d2d;
  text-align:center; 
  font-size:12px;
  min-height:100px;
  position:absolute;
  bottom:0;
  width:100%;
}

.footer .footer-links a {
  margin-right:20px;
}

.footer a {
  text-transform: uppercase;
}

.footer .links {
  margin-top:20px;
}

.footer .disclaimer {
  margin-top:10px;
  margin-bottom:15px;
  font-size:10px;
  color:#929292;
}

.footer .company img {
  margin-left:5px;
}

.footer .company img:first-child {
  margin-left:10px;
}

/* ICONS */
.social-icon {
  vertical-align:middle;
  width:32px;
}

.icon-white path {
  fill:#ffffff;
}

.icon-yellow path {
  fill:#fac800;
}

.pagination {
  display:none;
}

.datepicker-dropdown.datepicker-orient-bottom:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #272727;
}

.datepicker-dropdown.datepicker-orient-bottom:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #272727;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}