favorited <img src="<%= activity.recipient.profile.team.present? ? activity.recipient.profile.team.image_url(:flair) : asset_path("no_team.png") %>" width="25"><%= link_to activity.recipient.full_name, activity.recipient %>'s <%= link_to "post", post_path(activity.trackable.favoritable) %>.