<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="eventLabel"><%= image_tag 'icons/icons_location.png' %> Update Event</h4>
</div>
<div class="modal-body-content">
  <div class="ajax-loader medium"></div>
</div>