$('.latest-updates').append('<% @updates.each do |update| %><%= j render "public_activity/activity", activity: update %><% end %>');

<% if @updates.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @updates, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" %>');
<% else %>
  $('.pagination').remove();
<% end %>