<div class="container">
  <div class="col-md-3 col-padding">
    <%= render 'dashboard/sidebar' %>
  </div>
  <div class="col-md-6 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module search-results-for">
          <ul class="nav nav-pills">
            <li><%= link_to "Latest Updates", latest_updates_path %></li>
            <li><%= link_to "Notifications", notifications_path %></li>
            <li><%= link_to "Mentions", mentions_path %></li>
            <li><%= link_to "Your Activity", activities_path %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <div class="latest-updates">
            <% @updates.each do |update| %>
              <%= render 'public_activity/activity', activity: update %>
            <% end %>               
          </div>
          <center><%= will_paginate @updates, renderer: BootstrapPagination::Rails, param_name: 'main_pagination', class: "feed-pagination" if @updates.present? %></center>           
        </div>
      </div>
    </div>   
  </div>
  <div class="col-md-3 col-padding">
  </div>
</div>