<center>
  <%= form_for [@rsvpable, @rsvp], remote: true, html: {class: "rsvp-form rsvp-buttons-form"} do |f| %>
    <div class="btn-group-vertical" data-toggle="buttons">
      <%= f.label :status, class: "btn btn-primary#{" active" if @rsvp && @rsvp.status == "yes"}" do %>
        <%= f.radio_button :status, "yes" %>
        Going
      <% end %>
      <%= f.label :status, class: "btn btn-primary#{" active" if @rsvp && @rsvp.status == "maybe"}" do %>
        <%= f.radio_button :status, "maybe" %>
        Maybe
      <% end %>
      <%= f.label :status, class: "btn btn-primary#{" active" if @rsvp && @rsvp.status == "no"}" do %>
        <%= f.radio_button :status, "no" %>
        Not Going
      <% end %>            
    </div>
  <% end %>
</center>