<div class="map-header clearfix">
  <div class="pull-right">
    <a href="#mapModal" data-toggle="modal" class="<%= js_signup_dialog %>">
      <%= image_tag 'map/btn_pokeball.png', width: 32 %>
    </a>
  </div>
  <form class="map-search">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search location, ex: New York, New York">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-default" disabled="disabled">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </form>
  <a href="javascript:;" class="map-locate-me">
    <small class="glyphicon glyphicon-screenshot map-locate-me"></small>
  </a>
</div>