<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="mapLabel"><%= image_tag 'icons/icons_location.png' %> Add Marker</h4>
</div>
<div class="modal-body-content">
  <div class="modal-body clearfix">
    <div class="col-xs-4">
      <%= link_to new_sighting_path, remote: true do %>
        <%= image_tag 'map/venusaur.png', class: "img-responsive center-block" %>
        <center>Sightings</center>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_gym_path, remote: true do %>
        <%= image_tag 'map/charizard.png', class: "img-responsive center-block" %>
        <center>Gyms</center>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_pokestop_path, remote: true do %>
        <%= image_tag 'map/blastoise.png', class: "img-responsive center-block" %>
        <center>PokeStops</center>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
  </div>
</div>