<%= form_for [:user, @location], remote: true do |f| %>
  <div class="modal-body">
    <div class="location-errors"></div>
    <div class="form-group">
      <%= label_tag :location_select, "Location" %>
      <%= text_field_tag :location_select, nil, class: 'form-control' %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
    <%= f.submit "Submit", class: 'btn btn-primary btn-sm' %>
    <%= f.hidden_field :city %>
    <%= f.hidden_field :state %>
    <%= f.hidden_field :country %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :formatted_address %>
  </div>  
<% end %>