<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="shareLabel"><%= image_tag 'icons/icons_location.png' %> Set Your Location</h4>
</div>
<div class="modal-body-content">
  <div class="modal-body">
    <div class="ajax-loader medium"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary btn-sm">Share</button>
  </div>
</div>