var alert_container = $(".location-errors");

<% if @locatable.errors.any? %>
  alert_container.html("<div class='alert alert-danger'><% @locatable.errors.full_messages.each do |msg| %><p><%= msg %></p><% end %></div>");
<% end %>