var modal = $("#locationModal");
var content = $("#locationModal .modal-content");
var body = $("#locationModal .modal-body-content");

body.html("<%= j render 'locations/form' %>");
modal.modal();

modal.on('hidden.bs.modal', function(e) {
  content.html("<%= j render 'locations/modal' %>");
});
