<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) && !msg.blank? %>
    <div class="<%= flash_class(name) %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= msg %>
    </div>
  <% end %>
<% end %>