<div class="footer navbar-fixed-bottom">
  <div class="container">
    <div class="row links">
      <div class="col-md-8 col-md-offset-2">
        <div class="footer-links pull-left">
          <%= link_to "Blog", "http://blog.catchemgo.com", target: "_blank" %>
          <%= link_to "About Catch 'Em Go", about_path %>
          <%= link_to "Contact Us", contact_path %>
          <%= link_to "Privacy Policy", privacy_path %>
          <%= link_to "Terms", tos_path %>
          <a href="https://discord.gg/EyAaZXv" target="_blank">Discord</a>
        </div>
        <div class="company pull-right">
          AoE Interactive © 2016
          <a href="http://twitter.com/CatchEmGo" target="_blank"><%= image_tag 'icons/footer_twitter.png' %></a>
          <a href="http://facebook.com/CatchEmGo" target="_blank"><%= image_tag 'icons/footer_fb.png' %></a>
        </div>
      </div>
    </div>
    <div class="row disclaimer">
      <div class="col-md-8 col-md-offset-2">
        Pokémon is a registered trademark of Nintendo. Catch 'Em Go is not affiliated with Nintendo or Niantic Labs, the creators of Pokemon Go.
      </div>
    </div>    
  </div>
</div>