<div class="col-sm-3 col-md-5 col-lg-6">
  <%= form_tag search_path, class: "navbar-form search nav navbar-nav", method: :get do %>
    <div class="input-group">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
      </div>      
      <%= text_field_tag :q, params[:q], class: "form-control nav-search-input", placeholder: "Search for trainers and topics on Catch 'Em Go", autocomplete: "off" %>        
    </div>
  <% end %>
</div>
<% if user_signed_in? %>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to nearby_events_path do %>
        <%= image_tag 'icons/icons_location_hub.png', width: 28 %>
      <% end %>
    </li>
    <li class="notification-dropdown dropdown">
      <a href="#" class="dropdown-toggle notification-toggle" data-toggle="dropdown">
        <%= render "notifications/icon" %>
      </a>
      <ul class="dropdown-menu dropdown-point notification-menu">
        <div class="ajax-loader medium"></div>
      </ul>
    </li>
    <li class="friends-dropdown dropdown">
      <a href="#" class="dropdown-toggle friends-toggle" data-toggle="dropdown">
        <%= render 'friend_requests/icon' %>
      </a>
      <ul class="dropdown-menu dropdown-point friends-menu">
        <div class="ajax-loader medium"></div>
      </ul>
    </li>    
    <li class="messages-dropdown dropdown">
      <a href="#" class="dropdown-toggle messages-toggle" data-toggle="dropdown">
        <%= render "conversations/icon" %>       
      </a>
      <ul class="dropdown-menu dropdown-point messages-menu">
        <div class="ajax-loader medium"></div>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle nav-account" data-toggle="dropdown">
        <img src="<%= current_user.profile.image? ? current_user.profile.image_url(:thumb_small) : asset_path('small_male_user.png') %>" width="29" class="nav-avatar">
      </a>
      <ul class="dropdown-menu dropdown-point user-menu">
        <li><%= link_to "My Profile", user_path(current_user) %></li>
        <li><%= link_to "Messages", messages_path %></li>
        <li><%= link_to "My Events", rsvps_events_path %></li>
        <li><%= link_to "Mentions", mentions_path %></li>
        <li><%= link_to "Settings", edit_user_registration_path %></li>
        <li><%= link_to "Activity Log", activities_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      </ul>
    </li>
  </ul>
<% else %>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <p class="navbar-btn">
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-nav" %>
      </p>
    </li>
    <li>
      <p class="navbar-btn">
        <a href="#loginModal" data-toggle="modal" class="btn btn-nav btn-login">Login</a>
      </p>
    </li>    
  </ul>
<% end %>