<div class="row">
  <div class="col-md-12">
    <div class="module sidebar-footer">
      <%= link_to "Blog", "http://blog.catchemgo.com", target: "_blank" %>
      <%= link_to "About", about_path %>
      <%= link_to "Contact", contact_path %>
      <%= link_to "Privacy", privacy_path %>
      <%= link_to "Terms", tos_path %>
      <a href="https://discord.gg/EyAaZXv" target="_blank">Discord</a>
      <div>
        AoE Interactive © 2015
        <a href="http://twitter.com/CatchEmGo" class="sidebar-twitter" target="_blank"><%= image_tag 'icons/footer_twitter.png' %></a>
        <a href="http://facebook.com/CatchEmGo" target="_blank"><%= image_tag 'icons/footer_fb.png' %></a>        
      </div>
    </div>
  </div>
</div>