<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Roboto:400,700italic,300,700,500" rel='stylesheet' type='text/css'>
    <script async defer src="//maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets[:google_places]['browser'] %>&libraries=places" type="text/javascript"></script>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= @home_page ? "home" : "" %> <%= @footer_page ? "footer_page" : "" %>" data-user="<%= current_user.slug if user_signed_in? %>">
    <%= render 'layouts/navigation' %>
    <div class="container">
      <%= render 'layouts/alerts' %>
    </div>
    <%= yield %>
    <%= render 'layouts/footer' if @footer_page %>
    <%= render 'shared/modal', id: "login", partial: "home/login_modal" unless user_signed_in? %>
    <%= render 'shared/modal', id: "signup", partial: "home/signup_modal" unless user_signed_in? %>    
    <%= google_analytics_js %>
    <%= javascript_include_tag "//js.pusher.com/2.0/pusher.min.js" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
