saw a <img src="<%= activity.trackable.pokemon.image_url(:icon) %>" width="16"> <%= link_to activity.trackable.pokemon.name, root_path(anchor: "17/#{activity.trackable.marker.latitude}/#{activity.trackable.marker.longitude}") %>.